<ng-container *ngIf="shareheadShare">
    <h3 *ngIf="componentTitle">{{ componentTitle }}</h3>
    <div class="info-container" style="margin: 0;">
        <div class="info-box-wrapper" [class.height-equalizer]="timeWarpMode">
            <div class="info-box">
                <div class="row">
                    <div class="col-4">Name:</div>
                    <div class="col-8"><span class="float-end">{{ shareheadShare.name }}</span></div>
                </div>
                <div class="row">
                    <div class="col-4">Währung:</div>
                    <div class="col-8"><span class="float-end">{{ shareheadShare.currency?.name }}</span></div>
                </div>
                <div class="row">
                    <div class="col-8">Last Rate<span *ngIf="stockRate"> ({{ stockRate.date|date:'dd.MM.y H:mm' }})</span>:</div>
                    <div class="col-4">
                        <span *ngIf="stockRate" class="float-end">{{ stockRate.currency }} {{ stockRate.rate }}</span>
                        <span *ngIf="!stockRate" class="float-end loading"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">Yield:</div>
                    <div class="col-4"><span class="float-end">{{ shareheadShare.lastDividend() }}<span *ngIf="stockRate"> ({{ shareheadShare.yield(stockRate.rate) }}%)</span></span></div>
                </div>
                <div class="row">
                    <div class="col-9">KGV:</div>
                    <div class="col-3"><span *ngIf="stockRate" class="float-end">{{ shareheadShare.kgv(stockRate.rate) }}</span></div>
                </div>
    <!--            <div class="row">-->
    <!--                <div class="col-9">Xtrapolated yield (5yrs):</div>-->
    <!--                <div class="col-3"><span class="float-end"></span></div>-->
    <!--            </div>-->
    <!--            <div class="row">-->
    <!--                <div class="col-9">Avg payout ratio:</div>-->
    <!--                <div class="col-3"><span class="float-end"></span></div>-->
    <!--            </div>-->
                <div class="row">
                    <div class="col-9">Avg yearly raise:</div>
                    <div class="col-3"><span class="float-end">{{ shareheadShare.getAvgDividendRaise() }}%</span></div>
                </div>
    <!--            <div class="row">-->
    <!--                <div class="col-9">Return on sales:</div>-->
    <!--                <div class="col-3"><span class="float-end"></span></div>-->
    <!--            </div>-->
                <div class="row">
                    <div class="col-6">Country:</div>
                    <div class="col-6"><span class="float-end">{{ shareheadShare.country }}</span></div>
                </div>
                <div class="row">
                    <div class="col-6">Sector:</div>
                    <div class="col-6"><span class="float-end">{{ shareheadShare.sector }}</span></div>
                </div>
    <!--            <div class="row">-->
    <!--                <div class="col-9">Market capitalization (Mrd):</div>-->
    <!--                <div class="col-3"><span class="float-end"></span></div>-->
    <!--            </div>-->
                <div class="row">
                    <div class="col-6">Analysts number:</div>
                    <div class="col-6"><span class="float-end">{{ shareheadShare.numberOfAnalysts() }}</span></div>
                </div>
                <div class="row">
                    <div class="col-9">Fin. year ends:</div>
                    <div class="col-3"><span class="float-end">{{ shareheadShare.financialYearEndDate|date:'dd.MM.y' }}</span></div>
                </div>
                <div *ngIf="shareheadShare.estimationsCurrency() !== '' && shareheadShare.estimationsCurrency() !== shareheadShare.balancesCurrency()" class="row">
                    <div class="col-12">
                        <div class="yellow">The estimations have another currency ({{ shareheadShare.estimationsCurrency() }}) than the balances ({{ shareheadShare.balancesCurrency() }})</div>
                    </div>
                </div>
            </div>
            <div *ngIf="!timeWarpMode" class="info-box">
                <h5>Financial crisis</h5>
                <ng-container *ngIf="shareheadShare.financialCrisisDrawdown()">
                    <div class="row">
                        <div class="col-4">Top</div>
                        <div class="col-4">{{ shareheadShare.financialCrisisTop()?.date|date:'dd.MM.y' }}</div>
                        <div class="col-4"><span class="float-end">{{ shareheadShare.financialCrisisTop()?.rate }}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-4">Bottom</div>
                        <div class="col-4">{{ shareheadShare.financialCrisisBottom()?.date|date:'dd.MM.y' }}</div>
                        <div class="col-4"><span class="float-end">{{ shareheadShare.financialCrisisBottom()?.rate }}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-3">Drawdown</div>
                        <div class="col-9"><span class="float-end bold">{{ shareheadShare.financialCrisisDrawdown() }}%</span></div>
                    </div>
                </ng-container>
                <ng-container *ngIf="!shareheadShare.financialCrisisDrawdown()">
                    <div class="row">
                        <div class="col-12">No data available</div>
                    </div>
                </ng-container>
                <h5 style="margin-top: 15px;">Corona pandemic</h5>
                <ng-container *ngIf="shareheadShare.coronaPandemicDrawdown()">
                    <div class="row">
                        <div class="col-4">Top</div>
                        <div class="col-4">{{ shareheadShare.coronaPandemicTop()?.date|date:'dd.MM.y' }}</div>
                        <div class="col-4"><span class="float-end">{{ shareheadShare.coronaPandemicTop()?.rate }}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-4">Bottom</div>
                        <div class="col-4">{{ shareheadShare.coronaPandemicBottom()?.date|date:'dd.MM.y' }}</div>
                        <div class="col-4"><span class="float-end">{{ shareheadShare.coronaPandemicBottom()?.rate }}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-3">Drawdown</div>
                        <div class="col-9"><span class="float-end bold">{{ shareheadShare.coronaPandemicDrawdown() }}%</span></div>
                    </div>
                </ng-container>
                <ng-container *ngIf="!shareheadShare.coronaPandemicDrawdown()">
                    <div class="row">
                        <div class="col-12">No data available</div>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="info-box-wrapper" [class.height-equalizer]="timeWarpMode">
            <div class="info-box">
                <h5>Analyst Ratings</h5>
                <div *ngFor="let rating of shareheadShare.filteredRatings()" class="row" title="{{ rating.source }}">
                    <div class="col-2">{{ rating.date|date:'dd.MM.YY' }}</div>
                    <div class="col-5" style="padding-left: 20px;">{{ rating.analyst }}</div>
                    <div class="col-1"
                        [class.green-text]="rating.isPositive()"
                        [class.yellow-text]="rating.isNeutral()"
                        [class.red-text]="rating.isNegative()"
                    >{{ rating.rating }}</div>
                    <div class="col-4" style="text-align: right;"><span *ngIf="rating.priceTarget && rating.priceTarget > 0">{{ rating.priceTarget }}</span> {{ rating.currency }}</div>
                </div>
            </div>
            <div *ngIf="!timeWarpMode" class="info-box">
                <h5>Termine</h5>
                <div class="row">
                    <div class="col-9">Next Report:</div>
                    <div class="col-3"><span class="float-end">{{ shareheadShare.nextReportDate|date:'dd.MM.y' }}</span></div>
                </div>
                <ng-container *ngIf="shareheadShare.plannedDividends && shareheadShare.plannedDividends.length > 0">
                    <div class="row">
                        <div class="col-9">Next Ex-Dividend Date:</div>
                        <div class="col-3"><span class="float-end">{{ shareheadShare.plannedDividends[0].exDate|date:'dd.MM.y' }}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-8">Next Dividend Pay ({{ shareheadShare.plannedDividends[0].currency?.name }}
                            <span *ngIf="shareheadShare.plannedDividends[0].amount">{{ shareheadShare.plannedDividends[0].amount }})</span>
                            <span *ngIf="!shareheadShare.plannedDividends[0].amount">?)</span>
                        </div>
                        <div class="col-4" style="text-align: right;">{{ shareheadShare.plannedDividends[0].payDate|date:'dd.MM.y' }}</div>
                    </div>
                </ng-container>
            </div>
        </div>
        <div>
            <div class="info-box info-box-lg">
                <h5>Sales (in Mio. {{ shareheadShare.balancesCurrency() }})</h5>
                <app-bar-chart [data]="shareheadShare.salesChartData(timeWarpDate)" [height]="150"></app-bar-chart>
            </div>
            <div class="info-box info-box-lg">
                <h5>Profit + Dividend per Share</h5>
                <app-line-chart [data]="shareheadShare.profitChartData(timeWarpDate)" [height]="150" [forceBeginAtZero]="!shareheadShare.hadNegativeBalances()" [pointRadius]="3.5"></app-line-chart>
            </div>
            <div class="info-box info-box-lg">
                <h5>Avg Rates</h5>
                <app-line-chart [data]="shareheadShare.yearlyAverageRatesChartData()" [height]="150" [forceBeginAtZero]="true" [pointRadius]="3.5"></app-line-chart>
            </div>
            <div class="info-box info-box-lg">
                <h5>Equity Ratio</h5>
                <app-line-chart [data]="shareheadShare.equityRatesChartData()" [height]="150" [forceBeginAtZero]="true" [percentageChart]="true" [pointRadius]="3.5"></app-line-chart>
            </div>
            <div *ngIf="!timeWarpMode" class="info-box info-box-lg">
                <h5>{{ nextEstimationYear }} Estimation Changes</h5>
                <app-line-chart [data]="shareheadShare.estimationChangesChartData()" [height]="150" [forceBeginAtZero]="true" [pointRadius]="3.5"></app-line-chart>
            </div>
            <div *ngIf="!timeWarpMode && shareheadShare.analysisResults && shareheadShare.analysisResults.estimationChangesOverNext && shareheadShare.analysisResults.estimationChangesOverNext.length > 2" class="info-box info-box-lg">
                <h5>{{ overNextEstimationYear }} Estimation Changes</h5>
                <app-line-chart [data]="shareheadShare.estimationChangesChartData(true)" [height]="150" [forceBeginAtZero]="true" [pointRadius]="3.5"></app-line-chart>
            </div>
            <div *ngIf="shareheadShare.yahooBalances().length > 0" class="info-box info-box-lg">
                <h5>Net Debt and Profit Ratio</h5>
                <app-line-chart [data]="shareheadShare.debtChartData()" [height]="150" [forceBeginAtZero]="true" [pointRadius]="3.5"></app-line-chart>
            </div>
            <div *ngIf="shareheadShare.yahooBalances().length > 0" class="info-box info-box-lg">
                <h5>Shares number ({{ shareheadShare.shareNumbersChanges() }}%)</h5>
                <app-line-chart [data]="shareheadShare.shareNumbersChartData()" [height]="150" [forceBeginAtZero]="true" [pointRadius]="3.5"></app-line-chart>
            </div>
            <div *ngIf="!timeWarpMode" class="info-box info-box-lg">
                <h5>Historic dividends</h5>
                <app-bar-chart [data]="shareheadShare.historicDividendsChartData()" [height]="150"></app-bar-chart>
            </div>
            <div *ngIf="!timeWarpMode" class="info-box info-box-lg">
                <button (click)="sendRemoveInquiry()" class="btn btn-sm btn-outline-primary">Remove this Sharehead Share</button>
            </div>
        </div>
    </div>
</ng-container>
