<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-1">
    <h4>Target Value</h4>
</div>
<h6>Actual: {{ actualTotal|number: '1.0-0' }}</h6>
<h6>Target: {{ targetTotal|number: '1.0-0' }}</h6>
<h6>Chance: {{ chance|number: '1.0-0' }}%</h6>
<app-data-grid
    [gridData]="targetList"
    [gridColumns]="tableColumns"
    [contextMenu]="tableContextMenu"
    (baseFunctionCall)="gridEventHandler($event)"
    (selectedItem)="selectEntry($event)"
></app-data-grid>


<ng-template #manualTargetPriceFormModal>
    <div *ngIf="selectedTargetSummary" class="modal-body">
        <p>Set your manual target-price for your position &laquo;{{ selectedTargetSummary.position.share?.name }}&raquo;:</p>
        <form [formGroup]="manualTargetPriceForm">
            <div class="mb-3">
                <label for="target-input" class="form-label"></label>
                <input formControlName="targetPrice" id="target-input" class="form-control" type="text" name="targetPrice" value="">
            </div>
            <div class="row">
                <div class="col-6">
                    <button type="button" class="btn btn-default" (click)="cancelModal()">{{ tranService.trans('GLOB_CANCEL') }}</button>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-outline-primary float-end" (click)="persistManualTargetPrice()">{{ tranService.trans('GLOB_SAVE') }}</button>
                </div>
            </div>
        </form>
    </div>
</ng-template>
