<main *ngIf="position">
    <div class="container px-4 py-5" id="featured-3">
        <h1 class="pb-2">Position</h1>
        <p class="lead mb-4">
            Wählen Sie einen Share aus dem Kissquote Universum oder erweitern Sie dieses erbärmlich kleine Universum.
        </p>
        <form [formGroup]="positionForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="share" class="form-label">{{ tranService.trans('GLOB_SHARE') }}: </label>
                <select formControlName="share" [ngModel]="position.share" id="share" name="share" class="form-select form-select mb-3">
                    <option disabled selected></option>
                    <ng-container *ngFor="let share of shareHeadShares">
                        <option [ngValue]="share">{{ share.name }}</option>
                    </ng-container>
                </select>
            </div>
            <div class="mb-3">
                <label for="currency" class="form-label">{{ tranService.trans('GLOB_CURRENCY') }}: </label>
                <select formControlName="currency" [ngModel]="position.currency" id="currency" name="currency" class="form-select form-select mb-3">
                    <option disabled selected></option>
                    <ng-container *ngFor="let currency of currencies">
                        <option [ngValue]="currency">{{ currency.name }}</option>
                    </ng-container>
                </select>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!positionForm.valid">Submit</button>
        </form>
    </div>
</main>
