<main>
    <div class="container px-4 py-5" id="featured-3">
        <h1 class="pb-2">Position</h1>
        <p class="lead mb-4">
            Füllen Sie das Formular aus.
        </p>
        <form [formGroup]="positionForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="share" class="form-label">Share: </label>
                <select id="share" name="share" class="form-select form-select mb-3">
                    <option selected></option>
                    <ng-container *ngFor="let share of shareHeadShares">
                        <option [selected]="position && position.share && share.id == position.share.id">{{ share.name }}</option>
                    </ng-container>
                </select>
            </div>
            <div class="mb-3">
                <label for="currency" class="form-label">Currency: </label>
                <select id="currency" name="currency" class="form-select form-select mb-3">
                    <option selected></option>
                    <ng-container *ngFor="let currency of currencies">
                        <option [selected]="position && position.currency && currency.id == position.currency.id">{{ currency.name }}</option>
                    </ng-container>
                </select>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!positionForm.valid">Submit</button>
        </form>
    </div>
</main>
