<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-2">
    <h4 class="col-6">Diversification by sectors</h4>
    <div class="col-md-6 d-none d-md-block text-end">
        <div *ngIf="!timeWarpMode" ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-sm btn-outline-primary source-btn" id="dropdownTimeWarp" ngbDropdownToggle>
                Time warp
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownTimeWarp">
                <button (click)="startTimeWarp(3)" ngbDropdownItem>3 months</button>
                <button (click)="startTimeWarp(6)" ngbDropdownItem>6 months</button>
                <button (click)="startTimeWarp(12)" ngbDropdownItem>1 year</button>
                <button (click)="startTimeWarp(36)" ngbDropdownItem>3 years</button>
                <button (click)="startTimeWarp(60)" ngbDropdownItem>5 years</button>
                <button (click)="startTimeWarp(120)" ngbDropdownItem>10 years</button>
            </div>
        </div>
        <div *ngIf="timeWarpMode" ngbDropdown class="d-inline-block">
            <button (click)="stopTimeWarp()" type="button" class="btn btn-sm btn-outline-primary active source-btn" id="stopTimeWarp">
                Stop Time warp mode
            </button>
        </div>
    </div>
</div>

<div *ngIf="!timeWarpMode" class="col-12">
    <app-diversification-sector
        [portfolio]="portfolio"
        [timeWarpMode]="false"
    ></app-diversification-sector>
</div>
<div *ngIf="timeWarpMode" class="row">
    <div class="col-6">
        <app-diversification-sector
            [portfolio]="portfolio"
            [timeWarpMode]="true"
            [componentTitle]="'Aktuell'"
        ></app-diversification-sector>
    </div>
    <div class="col-6">
        <app-diversification-sector
            [portfolio]="timeWarpedPortfolio"
            [timeWarpMode]="true"
            [componentTitle]="timeWarpTitle"
        ></app-diversification-sector>
    </div>
</div>
