<ng-container *ngIf="shareheadShare">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-2">
        <h4 class="col-12 col-md-2">Sharehead Infos</h4>
        <div class="col-12 col-md-7 btn-toolbar">
            <div class="btn-toolbar mb-2 mb-md-0">
                <div *ngIf="shareheadShare.urlWikipedia" class="btn-group me-2 source-btn">
                    <a href="{{ shareheadShare.urlWikipedia }}" target="_blank" type="button" class="btn btn-sm btn-outline-primary"><fa-icon [icon]="externalLinkIcon"></fa-icon> Wikipedia</a>
                </div>
                <div *ngIf="shareheadShare.swissquoteUrl()" class="btn-group me-2 source-btn">
                    <a href="{{ shareheadShare.swissquoteUrl() }}" target="_blank" type="button" class="btn btn-sm btn-outline-primary"><fa-icon [icon]="externalLinkIcon"></fa-icon> swissquote.ch</a>
                </div>
                <div *ngIf="shareheadShare.urlDiviMax" class="btn-group me-2 source-btn">
                    <a href="{{ shareheadShare.urlDiviMax }}" target="_blank" type="button" class="btn btn-sm btn-outline-primary"><fa-icon [icon]="externalLinkIcon"></fa-icon> dividendmax.com</a>
                </div>
                <div class="btn-group me-2 source-btn">
                    <a href="{{ shareheadShare.urlFinanznet }}" target="_blank" type="button" class="btn btn-sm btn-outline-primary"><fa-icon [icon]="externalLinkIcon"></fa-icon> finanzen.net</a>
                </div>
                <div class="btn-group me-2 source-btn">
                    <a href="{{ shareheadShare.urlInvesting }}" target="_blank" type="button" class="btn btn-sm btn-outline-primary"><fa-icon [icon]="externalLinkIcon"></fa-icon> investing.com</a>
                </div>
                <div *ngIf="shareheadShare.urlYahoo" class="btn-group me-2 source-btn">
                    <a href="{{ shareheadShare.urlYahoo }}" target="_blank" type="button" class="btn btn-sm btn-outline-primary"><fa-icon [icon]="externalLinkIcon"></fa-icon> yahoo.com</a>
                </div>
            </div>
        </div>
        <div class="col-3 col-md-3 d-none d-md-block text-end">
            <button (click)="startCompareMode()" *ngIf="!timeWarpMode && !compareMode" type="button" class="btn btn-sm btn-outline-primary source-btn me-2">
                Compare
            </button>
            <div *ngIf="!timeWarpMode && !compareMode" ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-sm btn-outline-primary source-btn" id="dropdownTimeWarp" ngbDropdownToggle>
                    Time warp
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownTimeWarp">
                    <button (click)="startTimeWarp(1)" ngbDropdownItem>1 year</button>
                    <button (click)="startTimeWarp(2)" ngbDropdownItem>2 years</button>
                    <button (click)="startTimeWarp(3)" ngbDropdownItem>3 years</button>
                </div>
            </div>
            <div *ngIf="timeWarpMode && !compareMode" ngbDropdown class="d-inline-block">
                <button (click)="stopTimeWarp()" type="button" class="btn btn-sm btn-outline-primary active source-btn" id="stopTimeWarp">
                    Stop Time warp mode
                </button>
            </div>
            <div *ngIf="!timeWarpMode && compareMode" ngbDropdown class="d-inline-block">
                <button (click)="stopCompareMode()" type="button" class="btn btn-sm btn-outline-primary active source-btn" id="stopTimeWarp">
                    Stop Comparing
                </button>
            </div>
        </div>
    </div>

    <div *ngIf="!timeWarpMode && !compareMode" class="col-12">
        <app-sharehead-share-info [shareheadShare]="shareheadShare" (removeInquiry)="sendRemoveInquiry()" [timeWarpMode]="false"></app-sharehead-share-info>
    </div>
    <div class="row" *ngIf="timeWarpMode">
        <div class="col-6">
            <app-sharehead-share-info [shareheadShare]="shareheadShare" (removeInquiry)="sendRemoveInquiry()" componentTitle="Today" [timeWarpMode]="true"></app-sharehead-share-info>
        </div>
        <div class="col-6">
            <app-sharehead-share-info *ngIf="timeWarpedShare" [shareheadShare]="timeWarpedShare" (removeInquiry)="sendRemoveInquiry()" [componentTitle]="timeWarpTitle" [timeWarpMode]="true" [timeWarpDate]="this.timeWarpDate"></app-sharehead-share-info>
        </div>
    </div>
    <div class="row" *ngIf="compareMode">
        <div class="col-6" *ngIf="shareheadShare.name">
            <app-sharehead-share-info [shareheadShare]="shareheadShare" (removeInquiry)="sendRemoveInquiry()" [componentTitle]="shareheadShare.name" [timeWarpMode]="true"></app-sharehead-share-info>
        </div>
        <div class="col-6">
            <app-sharehead-share-info *ngIf="compareShare && compareShare.name" [shareheadShare]="compareShare" (removeInquiry)="sendRemoveInquiry()" [componentTitle]="compareShare.name" [timeWarpMode]="true"></app-sharehead-share-info>
            <app-sharehead-share-search *ngIf="!compareShare" (selectedShare)="setComparedShare($event)"></app-sharehead-share-search>
        </div>
    </div>

</ng-container>
