<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-2">
    <h4 class="pt-2">Settings</h4>
</div>
<div class="info-box">
    <div class="form-check form-switch">
        <input (change)="toggleDarkmode()" class="form-check-input" type="checkbox" id="darkmode-switch" [checked]="darkMode">
        <label for="darkmode-switch" class="form-label">Darkmode</label>
    </div>
</div>
<div class="info-box">
    <h5>Currencies</h5>
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col"><span class="float-end">Exchange rate</span></th>
            <th style="width: 35px;"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let currency of currencies">
            <td>{{ currency.name }}</td>
            <td align="right">{{ currency.rate }}</td>
            <td>
                <button (click)="openExchangeRateModal(exchangeRateFormModal, currency)" type="button" class="btn btn-sm btn-outline-primary" ngbTooltip="Editieren" tooltipClass="custom-tooltip">
                    <fa-icon [icon]="editIcon"></fa-icon>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="info-box">
    <h5>
        Labels
        <button (click)="openLabelFormModal(labelFormModal, undefined)" type="button" class="btn btn-tiny btn-outline-primary float-end" ngbTooltip="Add Label" tooltipClass="custom-tooltip"><fa-icon [icon]="addIcon"></fa-icon></button>
    </h5>
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col"></th>
            <th style="width: 35px;"></th>
            <th style="width: 35px;"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let label of labels">
            <td>{{ label.name }}</td>
            <td [style.background]="label.color"></td>
            <td>
                <button (click)="openLabelFormModal(labelFormModal, label)" type="button" class="btn btn-sm btn-outline-primary" ngbTooltip="Editieren" tooltipClass="custom-tooltip">
                    <fa-icon [icon]="editIcon"></fa-icon>
                </button>
            </td>
            <td><button (click)="openLabelConfirmModal(removeLabelModal, label)" type="button" class="btn btn-sm btn-outline-primary" ngbTooltip="Entfernen" tooltipClass="custom-tooltip"><fa-icon [icon]="deleteIcon"></fa-icon></button></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="info-box">
    <h5>
        Sectors
        <button (click)="openSectorFormModal(sectorFormModal, undefined)" type="button" class="btn btn-tiny btn-outline-primary float-end" ngbTooltip="Add Sector" tooltipClass="custom-tooltip"><fa-icon [icon]="addIcon"></fa-icon></button>
    </h5>
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th style="width: 35px;"></th>
            <th style="width: 35px;"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let sector of sectors">
            <td>{{ sector.name }}</td>
            <td>
                <button (click)="openSectorFormModal(sectorFormModal, sector)" type="button" class="btn btn-sm btn-outline-primary" ngbTooltip="Editieren" tooltipClass="custom-tooltip">
                    <fa-icon [icon]="editIcon"></fa-icon>
                </button>
            </td>
            <td><button (click)="openSectorConfirmModal(removeSectorModal, sector)" type="button" class="btn btn-sm btn-outline-primary" ngbTooltip="Entfernen" tooltipClass="custom-tooltip"><fa-icon [icon]="deleteIcon"></fa-icon></button></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="info-box">
    <h5>
        Strategies
        <button (click)="openStrategyFormModal(strategyFormModal, undefined)" type="button" class="btn btn-tiny btn-outline-primary float-end" ngbTooltip="Add Strategy" tooltipClass="custom-tooltip"><fa-icon [icon]="addIcon"></fa-icon></button>
    </h5>
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th style="width: 35px;"></th>
            <th style="width: 35px;"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let strategy of strategies">
            <td>{{ strategy.name }}</td>
            <td>
                <button (click)="openStrategyFormModal(strategyFormModal, strategy)" type="button" class="btn btn-sm btn-outline-primary" ngbTooltip="Editieren" tooltipClass="custom-tooltip">
                    <fa-icon [icon]="editIcon"></fa-icon>
                </button>
            </td>
            <td><button (click)="openStrategyConfirmModal(removeStrategyModal, strategy)" type="button" class="btn btn-sm btn-outline-primary" ngbTooltip="Entfernen" tooltipClass="custom-tooltip"><fa-icon [icon]="deleteIcon"></fa-icon></button></td>
        </tr>
        </tbody>
    </table>
</div>


<ng-template #removeLabelModal>
    <div class="modal-body text-center">
        <p>{{ tranService.trans('MYDA_ENTRY_REALLY_REMOVE') }}</p>
        <button type="button" class="btn btn-default" (click)="confirmDeleteLabel()">{{ tranService.trans('GLOB_YES') }}</button>
        <button type="button" class="btn btn-primary" (click)="cancelModal()">{{ tranService.trans('GLOB_NO') }}</button>
    </div>
</ng-template>

<ng-template #removeSectorModal>
    <div class="modal-body text-center">
        <p>{{ tranService.trans('MYDA_ENTRY_REALLY_REMOVE') }}</p>
        <button type="button" class="btn btn-default" (click)="confirmDeleteSector()">{{ tranService.trans('GLOB_YES') }}</button>
        <button type="button" class="btn btn-primary" (click)="cancelModal()">{{ tranService.trans('GLOB_NO') }}</button>
    </div>
</ng-template>

<ng-template #removeStrategyModal>
    <div class="modal-body text-center">
        <p>{{ tranService.trans('MYDA_ENTRY_REALLY_REMOVE') }}</p>
        <button type="button" class="btn btn-default" (click)="confirmDeleteStrategy()">{{ tranService.trans('GLOB_YES') }}</button>
        <button type="button" class="btn btn-primary" (click)="cancelModal()">{{ tranService.trans('GLOB_NO') }}</button>
    </div>
</ng-template>

<ng-template #exchangeRateFormModal>
    <div *ngIf="selectedCurrency" class="modal-body">
        <p *ngIf="selectedCurrency">Geben Sie Ihre Exchange-Rate für Ihre Währung &laquo;{{ selectedCurrency.name }}&raquo; ein:</p>
        <form [formGroup]="exchangeRateForm">
            <div class="mb-3">
                <label for="exchange-rate-input" class="form-label"></label>
                <input formControlName="rate" id="exchange-rate-input" class="form-control" type="text" name="rate" value="">
            </div>
            <div class="row">
                <div class="col-6">
                    <button type="button" class="btn btn-default" (click)="cancelModal()">{{ tranService.trans('GLOB_CANCEL') }}</button>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-primary float-end" (click)="persistExchangeRate()">{{ tranService.trans('GLOB_SAVE') }}</button>
                </div>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #labelFormModal>
    <div class="modal-body">
        <form [formGroup]="labelForm">
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input formControlName="name" class="form-control" type="text" name="name" value="">
            </div>
            <div class="mb-3">
                <label class="form-label">Color</label>
                <input *ngIf="selectedLabel" formControlName="color" [(colorPicker)]="selectedLabel.color" [style.background]="selectedLabel.color" class="form-control" type="text" name="color" />
            </div>
            <div class="row">
                <div class="col-6">
                    <button type="button" class="btn btn-default" (click)="cancelModal()">{{ tranService.trans('GLOB_CANCEL') }}</button>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-primary float-end" (click)="persistLabel()">{{ tranService.trans('GLOB_SAVE') }}</button>
                </div>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #sectorFormModal>
    <div class="modal-body">
        <form [formGroup]="sectorForm">
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input formControlName="name" class="form-control" type="text" name="name" value="">
            </div>
            <div class="row">
                <div class="col-6">
                    <button type="button" class="btn btn-default" (click)="cancelModal()">{{ tranService.trans('GLOB_CANCEL') }}</button>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-primary float-end" (click)="persistSector()">{{ tranService.trans('GLOB_SAVE') }}</button>
                </div>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #strategyFormModal>
    <div class="modal-body">
        <form [formGroup]="strategyForm">
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input formControlName="name" class="form-control" type="text" name="name" value="">
            </div>
            <div class="row">
                <div class="col-6">
                    <button type="button" class="btn btn-default" (click)="cancelModal()">{{ tranService.trans('GLOB_CANCEL') }}</button>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-primary float-end" (click)="persistStrategy()">{{ tranService.trans('GLOB_SAVE') }}</button>
                </div>
            </div>
        </form>
    </div>
</ng-template>
