<div class="px-4 py-5 my-5 text-center">
    <img src="assets/kissquote.svg" width="65" ngbTooltip="{{ tranService.trans('GLOB_TITLE') }}" tooltipClass="custom-tooltip">
    <h1 class="h3 fw-normal centered-header">Geben Sie hier Ihren Schlüssel ein</h1>
    <div class="col-lg-6 mx-auto">
        <div class="form-floating">
            <input [(ngModel)]="key" type="text" class="form-control" id="key" placeholder="Schlüssel">
            <label for="key">Schlüssel</label>
        </div>
        <button (click)="submitKey()" class="btn btn-lg btn-outline-primary" type="submit">Gib mir mein Portfolio zurück!</button>
    </div>
</div>
