<div class="px-4 py-5 my-5 text-center">
    <img src="assets/kissquote.svg" width="65" title="{{ tranService.trans('GLOB_TITLE') }}">
    <h1 class="h3 fw-normal centered-header">Geben Sie hier Ihren nur Ihnen bekannten Schlüssel ein</h1>
    <div class="col-lg-6 mx-auto">
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingKey" placeholder="Password">
            <label for="floatingKey">Schlüssel</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Gib mir mein Portfolio zurück!</button>
    </div>
</div>
