
.dropdown-toggle::after {
    display:none;
}

.mobile-navi-cell {
    width: 35px;
    fa-icon {
        padding-right: 10px;
    }
}

.sorting-arrow {
    font-size: 12px;
    margin-top: 3px;
    margin-left: 2px;
}

.sorted-column {
    border-bottom: solid 2px #ff6633 !important;
}

th.sortable {
    cursor: pointer;
    white-space: nowrap;
}

tr.data-grid-row:hover {
    background-color: rgba(255, 102, 51, 0.1) !important;
}
