<main>
    <div class="container px-4 py-5" id="featured-3">
        <h1 class="pb-2">{{ tranService.trans('UPEX_TITLE') }}</h1>
        <p class="lead mb-4">
            {{ tranService.trans('UPEX_LEAD') }}
        </p>

        <div class="row">
            <div class="feature col">
                <h2>{{ tranService.trans('GLOB_STEP') }} 1</h2>
                <p>Melden Sie sich bei Swissquote an.</p>
            </div>
        </div>
        <div>
            <div class="feature col">
                <h2>{{ tranService.trans('GLOB_STEP') }} 2</h2>
                <p>Navigieren Sie zu Ihren Transaktionen.</p>
                <p>Die Benutzerführung bei Swissquote ist leider etwas - nennen wir es mal: schwierig. Sollten Sie an der Benutzerführung scheitern, kopieren Sie folgenden Link 'https://slsfljslkj'</p>
            </div>
        </div>
        <div>
            <div class="feature col">
                <h2>{{ tranService.trans('GLOB_STEP') }} 3</h2>
                <p>Ändern Sie die Filter-Einstellungen.</p>
            </div>
        </div>
        <div>
            <div class="feature col">
                <h2>{{ tranService.trans('GLOB_STEP') }} 4</h2>
                <p>Laden Sie diese Liste als CSV herunter.</p>
            </div>
        </div>
        <div>
            <div class="feature col">
                <h2>{{ tranService.trans('GLOB_STEP') }} 5</h2>
                <p>Überprüfen Sie in Ihrem Download-Verzeichnis den Namen dieser Datei.</p>
                <p>Optional können Sie diese CSV-Datei mit einem einfachen Texteditor öffnen und überprüfen, ob da eventuell doch unerwünschte Informationen drin sind, welche Rückschlüsse auf Ihre Identität geben könnten. Das wollen wir nicht.</p>
            </div>
        </div>
    </div>
</main>
