a {
    text-decoration: none;
}

.form-check-label {
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.label-checklist {
    display: inline-block;
    margin-right: 0;
    overflow-wrap: anywhere;

    input.form-check-input {
        border-radius: 0.25em;
        float: none;
        margin-right: 10px;
        white-space: nowrap;
    }
    label {
        white-space: nowrap;
    }
}
