<ng-container *ngIf="portfolio">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-2">
        <h4 class="pt-2">{{ tranService.trans('GLOB_LISTINGS') }}</h4>
    </div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" [class.active]="listingTab === 'ultimate'" (click)="changeListingTab('ultimate')" aria-current="page">Ultimate balance</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [class.active]="listingTab === 'lombard'" (click)="changeListingTab('lombard')" aria-current="page">Lombard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [class.active]="listingTab === 'crisisDividendProjection'" (click)="changeListingTab('crisisDividendProjection')" aria-current="page">DiviDropProj</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [class.active]="listingTab === 'lastMinute'" (click)="changeListingTab('lastMinute')" aria-current="page">Last Minute</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [class.active]="listingTab === 'payDays'" (click)="changeListingTab('payDays')" aria-current="page">Pay Days</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [class.active]="listingTab === 'newestRatings'" (click)="changeListingTab('newestRatings')" aria-current="page">New Ratings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [class.active]="listingTab === 'nextReports'" (click)="changeListingTab('nextReports')" aria-current="page">Next Reports</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [class.active]="listingTab === 'performance'" (click)="changeListingTab('performance')" aria-current="page">Performance</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [class.active]="listingTab === 'diversification'" (click)="changeListingTab('diversification')" aria-current="page">Diversification</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [class.active]="listingTab === 'strategies'" (click)="changeListingTab('strategies')" aria-current="page">Strategies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [class.active]="listingTab === 'risks'" (click)="changeListingTab('risks')" aria-current="page">Risks</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [class.active]="listingTab === 'targetValue'" (click)="changeListingTab('targetValue')" aria-current="page">Target Value</a>
        </li>
    </ul>
    <div class="shadow-sm p-1 pt-3 mb-5 bg-body rounded" [class.visually-hidden]="listingTab !== 'ultimate'">
        <div class="row">
            <div class="col-9"><h4>Ultimate balance</h4></div>
            <div class="col-3">
                <span (click)="setAllLabelsActive()" class="float-end" style="cursor: pointer">Select all</span>
            </div>
        </div>
        <div>
            <div *ngFor="let label of ultimateBalanceFilter" class="mb-3 form-check label-checklist">
                <input (dblclick)="setThisFilterAsOnlyFilter(label)" (change)="toggleUltimateBalanceFilter(label)" type="checkbox" class="form-check-input" id="label-{{ label.name }}" [checked]="label.checked">
                <label (dblclick)="setThisFilterAsOnlyFilter(label)" class="form-check-label" for="label-{{ label.name }}">{{ label.name }}</label>
            </div>
        </div>
        <app-data-grid
            [gridData]="ultimateBalanceList"
            [gridColumns]="ultimateColumns"
            [contextMenu]="ultimateContextMenu"
            (baseFunctionCall)="positionEventHandler($event)"
            (selectedItem)="selectPosition($event)"
        ></app-data-grid>
        <div *ngIf="ultimateBalance" class="row">
            <div class="col-12">
                <h6>Balance: <span class="float-end">{{ ultimateBalance|number: '1.0-0' }}</span></h6>
            </div>
        </div>
        <div *ngIf="ultimateValue" class="row">
            <div class="col-12">
                <h6>Value: <span class="float-end">{{ ultimateValue|number: '1.0-0' }}</span></h6>
            </div>
        </div>
    </div>
    <div class="shadow-sm p-1 pt-3 mb-5 bg-body rounded" [class.visually-hidden]="listingTab !== 'lombard'">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-1">
            <h4>Lombard value</h4>
        </div>
        <h6>Total: {{ lombardTotal|number: '1.0' }}</h6>
        <h6>{{ tranService.trans('LISTNGS_FROM_INVESTMENT') }}: {{ (100 / portfolio.investmentTotal() * lombardTotal).toFixed() }}%</h6>
        <app-data-grid
            [gridData]="lombardValueList"
            [gridColumns]="lombardColumns"
            [contextMenu]="lombardContextMenu"
            (baseFunctionCall)="positionEventHandler($event)"
            (selectedItem)="selectPosition($event)"
        ></app-data-grid>
    </div>
    <div class="shadow-sm p-1 pt-3 mb-5 bg-body rounded" [class.visually-hidden]="listingTab !== 'crisisDividendProjection'">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-1">
            <h4>Crisis dividend projection</h4>
        </div>
        <h6>Dividend projection: {{ crisisDividendTotal|number: '1.0' }}</h6>
        <h6>Drop: {{ (100 - 100 / portfolio.thisYearsDividendsTotal() * crisisDividendTotal).toFixed() }}%</h6>
        <h6>ROI by projected dividends: {{ (100 / portfolio.investmentTotal() * crisisDividendTotal).toFixed(1) }}%</h6>
        <app-data-grid
            [gridData]="crisisDividendList"
            [gridColumns]="crisisDivisColumns"
            [contextMenu]="crisisDivisContextMenu"
            (baseFunctionCall)="positionEventHandler($event)"
            (selectedItem)="selectPosition($event)"
        ></app-data-grid>
    </div>
    <div class="shadow-sm p-1 pt-3 mb-5 bg-body rounded" [class.visually-hidden]="listingTab !== 'lastMinute'">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-1">
            <h4>Last Minute</h4>
        </div>
        <table class="table table-sm">
            <thead>
            <tr>
                <th scope="col">{{ tranService.trans('GLOB_SHARE') }}</th>
                <th scope="col" class="d-none d-md-table-cell">Payment</th>
                <th scope="col">Yield</th>
                <th scope="col">Ex-Date</th>
                <th scope="col">Pay-Date</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let entry of lastMinuteList" [class.orange]="entry.positionId || entry.isOnWatchlist">
                <ng-container *ngIf="entry.plannedDividends">
                    <td *ngIf="entry.positionId"><a [routerLink]="['/position-detail/' + entry.positionId]" ngbTooltip="Zur Position" tooltipClass="custom-tooltip">{{ entry.name }}</a></td>
                    <td *ngIf="!entry.positionId"><a [routerLink]="['/sharehead-share-detail/' + entry.id]" ngbTooltip="Details" tooltipClass="custom-tooltip">{{ entry.name }}</a></td>
                    <td class="d-none d-md-table-cell"><span *ngIf="entry.plannedDividends[0].amount">{{ entry.plannedDividends[0].amount }}</span></td>
                    <td><span *ngIf="entry.plannedDividends[0].amount && entry.lastRate">{{ (100 / entry.lastRate.rate * entry.plannedDividends[0].amount).toFixed(2) }}%</span></td>
                    <td>{{ entry.plannedDividends[0].exDate|date:'dd.MM.YY' }}</td>
                    <td>{{ entry.plannedDividends[0].payDate|date:'dd.MM.YY' }}</td>
                </ng-container>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="shadow-sm p-1 pt-3 mb-5 bg-body rounded" [class.visually-hidden]="listingTab !== 'payDays'">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-1">
            <h4>Pay Days</h4>
        </div>
        <app-data-grid
            [gridData]="payDays"
            [gridColumns]="payDaysColumns"
            [contextMenu]="payDaysContextMenu"
            (baseFunctionCall)="positionEventHandler($event)"
            (selectedItem)="selectPosition($event)"
        ></app-data-grid>
    </div>
    <div class="shadow-sm p-1 pt-3 mb-5 bg-body rounded" [class.visually-hidden]="listingTab !== 'newestRatings'">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-1">
            <h4>Newest Ratings</h4>
        </div>
        <table class="table table-striped table-sm small-text">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">{{ tranService.trans('GLOB_SHARE') }}</th>
                <th scope="col">Analyst</th>
                <th scope="col">Rating</th>
                <th scope="col"><span class="float-end">Target</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let rating of newestRatingsList">
                <ng-container *ngIf="rating.share">
                    <td>{{ rating.date|date:'dd.MM.' }}</td>
                    <td *ngIf="rating.positionId"><a [routerLink]="['/position-detail/' + rating.positionId]" ngbTooltip="Details" tooltipClass="custom-tooltip">{{ rating.share.name }}</a></td>
                    <td *ngIf="!rating.positionId"><a [routerLink]="['/sharehead-share-detail/' + rating.share.id]" ngbTooltip="Details">{{ rating.share.name }}</a></td>
                    <td>{{ rating.analyst?.shortName }}</td>
                    <td>{{ rating.rating }}</td>
                    <td><span class="float-end">{{ rating.priceTarget }} {{ rating.currency?.name }}</span></td>
                </ng-container>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="shadow-sm p-1 pt-3 mb-5 bg-body rounded" [class.visually-hidden]="listingTab !== 'nextReports'">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-1">
            <h4>Next Reports</h4>
        </div>
        <table class="table table-sm">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">{{ tranService.trans('GLOB_SHARE') }}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let share of nextReportsList">
                <ng-container>
                    <td>{{ share.nextReportDate|date:'dd.MM.YY' }}</td>
                    <td *ngIf="share.positionId"><a [routerLink]="['/position-detail/' + share.positionId]" ngbTooltip="Details" tooltipClass="custom-tooltip">{{ share.name }}</a></td>
                    <td *ngIf="!share.positionId"><a [routerLink]="['/sharehead-share-detail/' + share.id]" ngbTooltip="Details" tooltipClass="custom-tooltip">{{ share.name }}</a></td>
                </ng-container>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="shadow-sm p-1 pt-3 mb-5 bg-body rounded" [class.visually-hidden]="listingTab !== 'performance'">
        <h4>Performance</h4>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" [class.active]="performanceListTab === '1day'" (click)="changePerformanceListTab('1day')" aria-current="page">1 day</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]="performanceListTab === '1week'" (click)="changePerformanceListTab('1week')" aria-current="page">1 week</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]="performanceListTab === '1month'" (click)="changePerformanceListTab('1month')" aria-current="page">1 month</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]="performanceListTab === '3month'" (click)="changePerformanceListTab('3month')" aria-current="page">3 months</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]="performanceListTab === '6month'" (click)="changePerformanceListTab('6month')" aria-current="page">6 months</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]="performanceListTab === '1year'" (click)="changePerformanceListTab('1year')" aria-current="page">1 year</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]="performanceListTab === '3years'" (click)="changePerformanceListTab('3years')" aria-current="page">3 years</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]="performanceListTab === '5years'" (click)="changePerformanceListTab('5years')" aria-current="page">5 years</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]="performanceListTab === '10years'" (click)="changePerformanceListTab('10years')" aria-current="page">10 years</a>
            </li>
        </ul>
        <div class="shadow-sm p-1 pt-3 mb-5 bg-body rounded">
            <table class="table table-striped table-sm">
                <tbody>
                <ng-container *ngFor="let position of performanceList">
                    <tr [class.red20]="position.stopLossBroken()" [class.green20]="position.hasReachedTargetPrice()">
                        <td><a [routerLink]="['/position-detail/' + position.id]">{{ position.share?.name }}</a></td>
                        <td class="d-sm-none d-md-table-cell"><span *ngIf="position.sector">{{ position.sector.name }}</span></td>
                        <td class="d-none d-sm-table-cell">
                            <span *ngFor="let label of position.labels" class="badge" [style.background]="label.color">{{ label.name }}</span>
                        </td>
                        <td><span *ngIf="position.tempPerformanceValue !== undefined" class="float-end" [class.red-text]="position.tempPerformanceValue < 0" [class.green-text]="position.tempPerformanceValue > 0">{{ position.tempPerformanceValue|number: '1.0-1' }}%</span></td>
                    </tr>
                </ng-container>
                </tbody>
            </table>
        </div>
    </div>
    <div class="shadow-sm p-1 pt-3 mb-5 bg-body rounded" [class.visually-hidden]="listingTab !== 'diversification'">
        <div class="info-box chart-box">
            <h5>by investment</h5>
            <ng-container *ngIf="diversityByInvestmentChartData">
                <app-pie-chart [data]="diversityByInvestmentChartData" [height]="400" (triggerClick)="listDiversityPositions($event)"></app-pie-chart>
            </ng-container>
        </div>
        <div class="info-box chart-box">
            <h5>by value</h5>
            <ng-container *ngIf="diversityByValueChartData">
                <app-pie-chart [data]="diversityByValueChartData" [height]="400" (triggerClick)="listDiversityPositions($event)"></app-pie-chart>
            </ng-container>
        </div>
        <div class="info-box chart-box">
            <h5>by dividend</h5>
            <ng-container *ngIf="diversityByDividendChartData">
                <app-pie-chart [data]="diversityByDividendChartData" [height]="400" (triggerClick)="listDiversityPositions($event)"></app-pie-chart>
            </ng-container>
        </div>
        <ng-container *ngIf="diversityList && diversityList.length > 0">
            <h5>{{ diversityListTitle }}</h5>
            <app-data-grid
                [gridData]="diversityList"
                [gridColumns]="diversificationColumns"
                [contextMenu]="diversificationContextMenu"
                (baseFunctionCall)="positionEventHandler($event)"
                (selectedItem)="selectPosition($event)"
            ></app-data-grid>
        </ng-container>
    </div>
    <div class="shadow-sm p-1 pt-3 mb-5 bg-body rounded" [class.visually-hidden]="listingTab !== 'strategies'">
        <div class="info-box chart-box">
            <h5>by investment</h5>
            <ng-container *ngIf="strategiesByInvestmentChartData">
                <app-pie-chart [data]="strategiesByInvestmentChartData" [height]="400" (triggerClick)="listStrategyPositions($event)"></app-pie-chart>
            </ng-container>
        </div>
        <div class="info-box chart-box">
            <h5>by value</h5>
            <ng-container *ngIf="strategiesByValueChartData">
                <app-pie-chart [data]="strategiesByValueChartData" [height]="400" (triggerClick)="listStrategyPositions($event)"></app-pie-chart>
            </ng-container>
        </div>
        <div class="info-box chart-box">
            <h5>by dividend</h5>
            <ng-container *ngIf="strategiesByDividendChartData">
                <app-pie-chart [data]="strategiesByDividendChartData" [height]="400" (triggerClick)="listStrategyPositions($event)"></app-pie-chart>
            </ng-container>
        </div>
        <ng-container *ngIf="strategyList && strategyList.length > 0">
            <h5>{{ strategyListTitle }}</h5>
            <app-data-grid
                [gridData]="strategyList"
                [gridColumns]="diversificationColumns"
                [contextMenu]="diversificationContextMenu"
                (baseFunctionCall)="positionEventHandler($event)"
                (selectedItem)="selectPosition($event)"
            ></app-data-grid>
        </ng-container>
    </div>
    <div class="shadow-sm p-1 pt-3 mb-5 bg-body rounded" [class.visually-hidden]="listingTab !== 'risks'">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-1">
            <h4>Risks</h4>
        </div>
        <h6>Total: {{ riskTotal|number: '1.0' }}</h6>
        <h6>{{ (100 / portfolio.valueTotal() * riskTotal).toFixed() }}%</h6>
        <span>! {{ missingPositionsInRisklist }} positions are missing in this list !</span>
        <app-data-grid
            [gridData]="risksList"
            [gridColumns]="riskColumns"
            [contextMenu]="riskContextMenu"
            (baseFunctionCall)="positionEventHandler($event)"
            (selectedItem)="selectPosition($event)"
        ></app-data-grid>
    </div>
    <div class="shadow-sm p-1 pt-3 mb-5 bg-body rounded" [class.visually-hidden]="listingTab !== 'targetValue'">
        <app-target-value [portfolio]="portfolio"></app-target-value>
    </div>
</ng-container>
