a {
  text-decoration: none;
}

.label-checklist {
    display: inline;
    margin-right: 25px;
    white-space: nowrap;

    input.form-check-input {
        border-radius: 0.25em;
        float: none;
        margin-right: 10px;
    }
}
