<main class="col-md-12 col-lg-12 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Mein Portfolio</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <button routerLink="/bank-account-form" type="button" class="btn btn-sm btn-outline-secondary">Add Bank-Account</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
            </button>
        </div>
    </div>

    <div *ngIf="portfolio && portfolio.bankAccounts.length > 0" class="table-responsive">
        <ng-container *ngFor="let bankAccount of portfolio.bankAccounts">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
                <h4>{{ bankAccount.name }}</h4>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group me-2">
                        <button [routerLink]="['/bank-account-form/' + bankAccount.id]" type="button" class="btn btn-sm btn-outline-secondary">Edit Bank-Account</button>
                        <button routerLink="/position-form" type="button" class="btn btn-sm btn-outline-secondary">Add Position</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Add Transaction</button>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Share</th>
                        <th scope="col">Currency</th>
                        <th scope="col">Header</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let position of bankAccount.positions">
                        <td>1,001</td>
                        <td>{{ position.share.name }}</td>
                        <td>{{ position.currency.name }}</td>
                        <td>data</td>
                        <td>placeholder</td>
                        <td><button [routerLink]="['/position-detail/' + position.id]" type="button" class="btn btn-sm btn-outline-secondary" title="Details"><fa-icon [icon]="eyeIcon"></fa-icon></button></td>
                        <td><button [routerLink]="['/position-form/' + position.id]" type="button" class="btn btn-sm btn-outline-secondary" title="Bearbeiten"><fa-icon [icon]="editIcon"></fa-icon></button></td>
                    </tr>
                </tbody>
            </table>
        </ng-container>
    </div>
    <p *ngIf="portfolio && portfolio.bankAccounts.length === 0">
        Ohne Positionen wird es hier sehr schnell sehr langweilig...
    </p>
</main>
