<main class="col-md-12 col-lg-12 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ tranService.trans('MYDA_TITLE') }}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <button routerLink="/bank-account-form" type="button" class="btn btn-sm btn-outline-secondary">{{ tranService.trans('MYDA_ADD_BANK') }}</button>
            </div>
        </div>
    </div>

    <div *ngIf="portfolio && portfolio.bankAccounts.length > 0" class="table-responsive">
        <ng-container *ngFor="let bankAccount of portfolio.bankAccounts">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-2">
                <h4 class="pt-2">{{ bankAccount.name }}</h4>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group me-2">
                        <button [routerLink]="['/bank-account-form/' + bankAccount.id]" type="button" class="btn btn-sm btn-outline-secondary">Edit Bank-Account</button>
                        <button routerLink="/position-form" type="button" class="btn btn-sm btn-outline-secondary">Add Position</button>
                        <button *ngIf="bankAccount.positions.length === 0" type="button" class="btn btn-sm btn-outline-secondary">Import Transactions</button>
                    </div>
                </div>
            </div>
            <ng-container *ngIf="bankAccount.positions.length > 0" class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">{{ tranService.trans('GLOB_SHARE') }}</th>
                            <th scope="col">{{ tranService.trans('GLOB_CURRENCY') }}</th>
                            <th scope="col">Active From</th>
                            <th scope="col">Active Until</th>
                            <th scope="col">Transactions</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let position of bankAccount.positions">
                            <td>1,001</td>
                            <td><span *ngIf="position.share">{{ position.share.name }}</span></td>
                            <td><span *ngIf="position.currency">{{ position.currency.name }}</span></td>
                            <td><span *ngIf="position.activeFrom">{{ position.activeFrom|date:'dd.MM.Y' }}</span></td>
                            <td><span *ngIf="position.activeUntil">{{ position.activeUntil|date:'dd.MM.Y' }}</span></td>
                            <td>{{ position.transactions.length }}</td>
                            <td><button [routerLink]="['/position-detail/' + position.id]" type="button" class="btn btn-sm btn-outline-secondary" tooltip="Details"><fa-icon [icon]="eyeIcon"></fa-icon></button></td>
                            <td><button [routerLink]="['/position-form/' + position.id]" type="button" class="btn btn-sm btn-outline-secondary" tooltip="Bearbeiten"><fa-icon [icon]="editIcon"></fa-icon></button></td>
                        </tr>
                    </tbody>
                </table>
            </ng-container>
            <p *ngIf="bankAccount.positions.length === 0">
                Ohne Positionen wird es hier sehr schnell sehr langweilig...
            </p>
        </ng-container>
    </div>
</main>
