<main class="col-md-12 col-lg-12 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 p-1 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ tranService.trans('MYDA_TITLE') }}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <button routerLink="/bank-account-form" type="button" class="btn btn-sm btn-outline-primary">{{ tranService.trans('MYDA_ADD_BANK') }}</button>
            </div>
        </div>
    </div>

    <div *ngIf="portfolio && portfolio.bankAccounts.length > 0">
        <ul class="nav nav-tabs">
            <li class="nav-item" *ngFor="let bankAccount of portfolio.bankAccounts index as accountIndex;">
                <a class="nav-link" [class.active]="dashboardTab === accountIndex.toString()" (click)="changeTab(accountIndex.toString())" aria-current="page"><span class="d-none d-md-inline">Bank-Account</span> {{ bankAccount.name }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]="dashboardTab === 'balance'" (click)="changeTab('balance')"><span class="d-none d-md-inline">Portfolio</span> Balances</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]="dashboardTab === 'dividends'" (click)="changeTab('dividends')">Dividends</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]="dashboardTab === 'watchlist'" (click)="changeTab('watchlist')">Watchlist</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]="dashboardTab === 'settings'" (click)="changeTab('settings')">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]="dashboardTab === 'closedPositions'" (click)="changeTab('closedPositions')">Closed<span class="d-none d-md-inline"> Positions</span></a>
            </li>
        </ul>
        <div *ngFor="let bankAccount of portfolio.bankAccounts index as accountIndex;" class="shadow-sm  p-1 p-md-3 mb-5 bg-body rounded" [class.visually-hidden]="dashboardTab !== accountIndex.toString()">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-2">
                <h4 class="pt-2">{{ bankAccount.name }}</h4>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group me-2">
                        <button [routerLink]="['/bank-account-form/' + bankAccount.id]" type="button" class="btn btn-sm btn-outline-primary">Edit Bank-Account</button>
                        <button [routerLink]="['/bank-account/' + accountIndex + '/position-form']" type="button" class="btn btn-sm btn-outline-primary">Add Position</button>
                        <button [routerLink]="['/bank-account/' + accountIndex + '/cash-position-form']" type="button" class="btn btn-sm btn-outline-primary">Add Cash-Position</button>
                        <ng-container *ngIf="bankAccount.positions.length === 0">
                            <button [routerLink]="['/import']" type="button" class="btn btn-sm btn-outline-primary">Import Transactions</button>
                            <button *ngIf="portfolio.bankAccounts.length > 1" (click)="openAccountConfirmModal(removeAccountModal, bankAccount)" type="button" class="btn btn-sm btn-outline-primary">Delete Bankaccount</button>
                        </ng-container>
                    </div>
                </div>
            </div>
            <ng-container *ngIf="bankAccount.getCashPositions().length > 0">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col">{{ tranService.trans('GLOB_CURRENCY') }}</th>
                            <th scope="col" style="width: 105px;"><span class="float-end">Value</span></th>
                            <th scope="col" class="d-none d-md-table-cell" style="width: 105px;">Active From</th>
                            <th scope="col" class="d-none d-md-table-cell" style="width: 105px;">Active Until</th>
                            <th scope="col" class="d-none d-md-table-cell" style="width: 105px;">Transactions</th>
                            <th scope="col" style="width: 35px;"></th>
                            <th scope="col" style="width: 35px;"></th>
                            <th scope="col" style="width: 35px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let position of bankAccount.getCashPositions()">
                            <td><span *ngIf="position.currency">{{ position.currency.name }}</span></td>
                            <td><span class="float-end">{{ position.actualValue()|number: '1.0' }}</span></td>
                            <td class="d-none d-md-table-cell"><span *ngIf="position.activeFrom">{{ position.activeFrom|date:'dd.MM.y' }}</span></td>
                            <td class="d-none d-md-table-cell"><span *ngIf="position.activeUntil">{{ position.activeUntil|date:'dd.MM.y' }}</span></td>
                            <td class="text-center d-none d-md-table-cell">{{ position.transactions.length }}</td>
                            <td><button [routerLink]="['/position-detail/' + position.id]" type="button" class="btn btn-sm btn-outline-primary" tooltip="Details"><fa-icon [icon]="eyeIcon"></fa-icon></button></td>
                            <td><button [routerLink]="'/position/' + position.id + '/cash-transaction-form'" type="button" class="btn btn-sm btn-outline-primary" tooltip="Add Transaction"><fa-icon [icon]="addIcon"></fa-icon></button></td>
                            <td><button (click)="openPositionConfirmModal(removePositionModal, position)" type="button" class="btn btn-sm btn-outline-primary" tooltip="Löschen"><fa-icon [icon]="deleteIcon"></fa-icon></button></td>
                        </tr>
                    </tbody>
                </table>
            </ng-container>
            <ng-container *ngIf="bankAccount.getActiveNonCashPositions().length > 0">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 40%;">{{ tranService.trans('GLOB_SHARE') }}</th>
                            <th scope="col" style="width: 105px;"><span class="float-end">Value</span></th>
                            <th scope="col">{{ tranService.trans('GLOB_CURRENCY') }}</th>
                            <th scope="col" class="d-none d-md-table-cell" style="width: 105px;">Active From</th>
                            <th scope="col" class="d-none d-md-table-cell" style="width: 105px;">Active Until</th>
                            <th scope="col" class="d-none d-md-table-cell" style="width: 105px;">Transactions</th>
                            <th scope="col" style="width: 35px;"></th>
                            <th scope="col" style="width: 35px;"></th>
                            <th scope="col" style="width: 35px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let position of bankAccount.getActiveNonCashPositions()">
                            <td><span *ngIf="position.share">{{ position.share.name }}</span></td>
                            <td><span class="float-end">{{ position.actualValue()|number: '1.0' }}</span></td>
                            <td><span *ngIf="position.currency">{{ position.currency.name }}</span></td>
                            <td class="d-none d-md-table-cell"><span *ngIf="position.activeFrom">{{ position.activeFrom|date:'dd.MM.y' }}</span></td>
                            <td class="d-none d-md-table-cell"><span *ngIf="position.activeUntil">{{ position.activeUntil|date:'dd.MM.y' }}</span></td>
                            <td class="text-center d-none d-md-table-cell">{{ position.transactions.length }}</td>
                            <td><button [routerLink]="['/position-detail/' + position.id]" type="button" class="btn btn-sm btn-outline-primary" tooltip="Details"><fa-icon [icon]="eyeIcon"></fa-icon></button></td>
<!--                            <td><button [routerLink]="'/position/' + position.id + '/transaction-form'" type="button" class="btn btn-sm btn-outline-primary" tooltip="Add Transaction"><fa-icon [icon]="addIcon"></fa-icon></button></td>-->
                            <td><button [routerLink]="['/bank-account/' + accountIndex + '/position-form/' + position.id]" type="button" class="btn btn-sm btn-outline-primary" tooltip="Edit Position"><fa-icon [icon]="editIcon"></fa-icon></button></td>
                            <td><button (click)="openPositionConfirmModal(removePositionModal, position)" type="button" class="btn btn-sm btn-outline-primary" tooltip="Löschen"><fa-icon [icon]="deleteIcon"></fa-icon></button></td>
                        </tr>
                    </tbody>
                </table>
            </ng-container>
            <p *ngIf="bankAccount.positions.length === 0">
                Ohne Positionen wird es hier sehr schnell sehr langweilig...
            </p>
        </div>
        <div class="shadow-sm p-1 p-md-3 mb-5 bg-body rounded" [class.visually-hidden]="dashboardTab !== 'balance'">
            <div class="info-container">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-2">
                    <h4 class="pt-2">Totals</h4>
                </div>
                <div class="info-box">
                    <div class="row">
                        <div class="col-9">Aktuelles Investment:</div>
                        <div class="col-3"><span class="float-end">{{ portfolio.investmentTotal()|number: '1.0' }}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-9">Aktueller Wert:</div>
                        <div class="col-3"><span class="float-end">{{ portfolio.valueTotal()|number: '1.0' }}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-9">Bilanz offener Positionen:</div>
                        <div class="col-3"><span class="float-end bold">{{ portfolio.openPositionsBalance()|number: '1.0' }}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-9">Cash:</div>
                        <div class="col-3"><span class="float-end">{{ portfolio.cashTotal()|number: '1.0-0' }}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-9">Cash-Ratio:</div>
                        <div class="col-3"><span class="float-end bold">{{ portfolio.cashRatio()|number: '1.0-1' }}%</span></div>
                    </div>
                    <div class="row">
                        <div class="col-9">StopLoss Reserve:</div>
                        <div class="col-3"><span class="float-end"></span></div>
                    </div>
                    <div class="row">
                        <div class="col-9">Bilanz geschlossener Positionen:</div>
                        <div class="col-3"><span class="float-end"></span></div>
                    </div>
                    <div class="row">
                        <div class="col-9">Dividendenaussicht:</div>
                        <div class="col-3"><span class="float-end bold">{{ portfolio.dividendProjectionsTotal()|number: '1.0' }}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-9">Dividend-yield on investment:</div>
                        <div class="col-3"><span class="float-end bold">{{ portfolio.dividendProjectionsYield()|number: '1.0-1' }}%</span></div>
                    </div>
                </div>
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-2">
                    <h4 class="pt-2">Bilanzen</h4>
                </div>
                <div *ngFor="let account of portfolio.bankAccounts" class="info-box">
                    <h5>{{ account.name }}</h5>
                    <app-bar-chart [data]="getBalanceChartDataByAccount(account)"></app-bar-chart>
                </div>
                <div *ngIf="dividendLists" class="info-box">
                    <h5>Dividenden-Einkommen</h5>
                    <app-stacked-bar-chart [data]="portfolio.dividendIncomeChartData()"></app-stacked-bar-chart>
                </div>
            </div>
        </div>
        <div class="shadow-sm p-1 p-md-3 mb-5 bg-body rounded" [class.visually-hidden]="dashboardTab !== 'dividends'">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center p-1 pb-2">
                <h4 class="pt-2">Dividends</h4>
            </div>
            <ul class="nav nav-tabs">
                <li class="nav-item" *ngFor="let dividendList of dividendLists">
                    <a class="nav-link" [class.active]="dividendListTab === dividendList.year" (click)="changeDividenListTab(dividendList.year)" aria-current="page">{{ dividendList.year }}</a>
                </li>
            </ul>
            <div *ngFor="let dividendList of dividendLists" [class.visually-hidden]="dividendListTab !== dividendList.year">
                <h4>{{ dividendList.year }} Total: {{ dividendList.payedTotal + dividendList.plannedTotal  }}</h4>
                <h5>Payed Total: {{ dividendList.payedTotal }}</h5>
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th scope="col" style="width: 200px;">Position</th>
                        <th scope="col">Source</th>
                        <th scope="col"><span class="float-end">Dividende</span></th>
                        <th scope="col" class="d-none d-md-table-cell" style="width: 200px;"><span class="float-end">Currency-Corrected</span></th>
                    </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let entry of dividendList.payedList">
                            <tr>
                                <td><a [routerLink]="['/position-detail/' + entry.positionId]">{{ entry.name }}</a></td>
                                <td>From Transactions</td>
                                <td><span class="float-end">{{ entry.total }} {{ entry.currency?.name }}</span></td>
                                <td class="d-none d-md-table-cell"><span class="float-end"></span></td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
                <div *ngIf="dividendList.plannedTotal > 0" class="mt-4">
                    <h5>Planned Total: {{ dividendList.plannedTotal }}</h5>
                    <table class="table table-striped table-sm">
                        <thead>
                        <tr>
                            <th scope="col" style="width: 200px;">Position</th>
                            <th scope="col">Source</th>
                            <th scope="col"><span class="float-end">Dividende</span></th>
                            <th scope="col" class="d-none d-md-table-cell" style="width: 200px;"><span class="float-end">Currency-Corrected</span></th>
                        </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let entry of dividendList.plannedList">
                                <tr>
                                    <td><a [routerLink]="['/position-detail/' + entry.positionId]">{{ entry.name }}</a></td>
                                    <td>{{ entry.source }}</td>
                                    <td><span class="float-end">{{ entry.total|number: '1.0-0' }} {{ entry.currency?.name }}</span></td>
                                    <td class="d-none d-md-table-cell"><span class="float-end"></span></td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="shadow-sm p-1 p-md-3 mb-5 bg-body rounded" [class.visually-hidden]="dashboardTab !== 'watchlist'">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-2">
                <h4 class="pt-2">Watchlist</h4>
            </div>
            <app-sharehead-share-search (selectedShare)="addWatchlistEntry($event)"></app-sharehead-share-search>
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th scope="col">{{ tranService.trans('GLOB_SHARE') }}</th>
                    <th scope="col" class="d-none d-md-table-cell" style="width: 105px;">Added</th>
                    <th scope="col" style="width: 35px;"></th>
                    <th scope="col" style="width: 35px;"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let entry of portfolio.watchlistEntries">
                    <td>{{ entry.title }}</td>
                    <td class="d-none d-md-table-cell">{{ entry.startDate|date:'dd.MM.y' }}</td>
                    <td><button [routerLink]="['/sharehead-share-detail/' + entry.shareheadId]" type="button" class="btn btn-sm btn-outline-primary" tooltip="Details"><fa-icon [icon]="eyeIcon"></fa-icon></button></td>
                    <td><button (click)="openWatchlistConfirmModal(removeWatchlistModal, entry)" type="button" class="btn btn-sm btn-outline-primary" tooltip="Entfernen"><fa-icon [icon]="deleteIcon"></fa-icon></button></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="shadow-sm p-1 p-md-3 mb-5 bg-body rounded" [class.visually-hidden]="dashboardTab !== 'settings'">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-2">
                <h4 class="pt-2">Settings</h4>
            </div>
            <div class="info-box">
                <h5>Currencies</h5>
                <div class="row">
                    <div class="col-7"><strong>Name</strong></div>
                    <div class="col-5"><strong class="float-end">Exchange rate</strong></div>
                </div>
                <div *ngFor="let currency of currencies" class="row">
                    <div class="col-9">{{ currency.name }}</div>
                    <div class="col-3">
                        <span class="float-end">{{ currency.rate }}
                            <fa-icon [icon]="editIcon" (click)="openExchangeRateModal(exchangeRateFormModal, currency)" class="icon-as-btn" title="Edit rate"></fa-icon>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="shadow-sm p-1 p-md-3 mb-5 bg-body rounded" [class.visually-hidden]="dashboardTab !== 'closedPositions'">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-2">
                <h4 class="pt-2">Closed Positions</h4>
            </div>
            <ng-container *ngIf="portfolio.getClosedNonCashPositions().length > 0">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th scope="col" style="width: 40%;">{{ tranService.trans('GLOB_SHARE') }}</th>
                        <th scope="col" style="width: 150px;">Account</th>
                        <th scope="col" style="width: 105px;"><span class="float-end">Result</span></th>
                        <th scope="col">{{ tranService.trans('GLOB_CURRENCY') }}</th>
                        <th scope="col" class="d-none d-md-table-cell" style="width: 105px;">Active From</th>
                        <th scope="col" class="d-none d-md-table-cell" style="width: 105px;">Active Until</th>
                        <th scope="col" class="d-none d-md-table-cell" style="width: 105px;">Transactions</th>
                        <th scope="col" style="width: 35px;"></th>
<!--                        <th scope="col" style="width: 35px;"></th>-->
                        <th scope="col" style="width: 35px;"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let position of portfolio.getClosedNonCashPositions()">
                        <td><span *ngIf="position.share">{{ position.share.name }}</span></td>
                        <td>{{ position.bankAccount?.name }}</td>
                        <td><span class="float-end">{{ position.balance?.closedResult }}</span></td>
                        <td><span *ngIf="position.currency">{{ position.currency.name }}</span></td>
                        <td class="d-none d-md-table-cell"><span *ngIf="position.activeFrom">{{ position.activeFrom|date:'dd.MM.y' }}</span></td>
                        <td class="d-none d-md-table-cell"><span *ngIf="position.activeUntil">{{ position.activeUntil|date:'dd.MM.y' }}</span></td>
                        <td class="text-center d-none d-md-table-cell">{{ position.transactions.length }}</td>
                        <td><button [routerLink]="['/position-detail/' + position.id]" type="button" class="btn btn-sm btn-outline-primary" tooltip="Details"><fa-icon [icon]="eyeIcon"></fa-icon></button></td>
                        <!--                            <td><button [routerLink]="'/position/' + position.id + '/transaction-form'" type="button" class="btn btn-sm btn-outline-primary" tooltip="Add Transaction"><fa-icon [icon]="addIcon"></fa-icon></button></td>-->
<!--                        <td><button [routerLink]="['/bank-account/0/position-form/' + position.id]" type="button" class="btn btn-sm btn-outline-primary" tooltip="Edit Position"><fa-icon [icon]="editIcon"></fa-icon></button></td>-->
                        <td><button (click)="openPositionConfirmModal(removePositionModal, position)" type="button" class="btn btn-sm btn-outline-primary" tooltip="Löschen"><fa-icon [icon]="deleteIcon"></fa-icon></button></td>
                    </tr>
                    </tbody>
                </table>
            </ng-container>
        </div>
    </div>
</main>

<ng-template #removePositionModal>
    <div class="modal-body text-center">
        <p>Wollen Sie diese Position wirklich löschen?</p>
        <button type="button" class="btn btn-default" (click)="confirmDeletePosition()">Ja</button>
        <button type="button" class="btn btn-primary" (click)="cancelModal()">Nein</button>
    </div>
</ng-template>

<ng-template #removeAccountModal>
    <div class="modal-body text-center">
        <p>Wollen Sie dieses Bankkonto wirklich löschen?</p>
        <button type="button" class="btn btn-default" (click)="confirmDeleteAccount()">Ja</button>
        <button type="button" class="btn btn-primary" (click)="cancelModal()">Nein</button>
    </div>
</ng-template>

<ng-template #removeWatchlistModal>
    <div class="modal-body text-center">
        <p>Wollen Sie diesen Eintrag wirklich löschen?</p>
        <button type="button" class="btn btn-default" (click)="confirmDeleteWatchlistEntry()">Ja</button>
        <button type="button" class="btn btn-primary" (click)="cancelModal()">Nein</button>
    </div>
</ng-template>

<ng-template #exchangeRateFormModal>
    <div *ngIf="selectedCurrency" class="modal-body">
        <p *ngIf="selectedCurrency">Geben Sie Ihre Exchange-Rate für Ihre Währung &laquo;{{ selectedCurrency.name }}&raquo; ein:</p>
        <form [formGroup]="exchangeRateForm">
            <div class="mb-3">
                <label for="exchange-rate-input" class="form-label"></label>
                <input formControlName="rate" id="exchange-rate-input" class="form-control" type="text" name="rate" value="">
            </div>
            <div class="row">
                <div class="col-6">
                    <button type="button" class="btn btn-default" (click)="cancelModal()">Abbrechen</button>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-primary float-end" (click)="persistExchangeRate()">Speichern</button>
                </div>
            </div>
        </form>
    </div>
</ng-template>
