.active {
  font-weight: bolder;
}

.head-anchor {
  cursor: pointer;
}

#home-icon {
  margin-left: 25px;
}

.container-fluid {
  padding-left: 100px;
}

.version-tape {
  background-color: blue;
  color: white;
  position: fixed;
  top: 8px;
  left: -48px;
  transform: rotate(-45deg);
  padding: 2px 50px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
