<body>
    <nav class="navbar navbar-expand-md fixed-top border-bottom bg-white">
        <a id="home-icon" routerLink="/" class="me-3 text-dark text-decoration-none">
            <img src="assets/kissquote.svg" width="35" title="{{ tranService.trans('GLOB_TITLE') }}">
        </a>
        <div class="container-fluid">
        </div>
        <a (click)="changeLanguage('de')" class="me-3 py-2 text-dark text-decoration-none lang-anchor" [class.active]="language == 'de'">de</a>
        <a (click)="changeLanguage('en')" class="me-3 py-2 text-dark text-decoration-none lang-anchor" [class.active]="language == 'en'">en</a>
        <a (click)="changeLanguage('fr')" class="me-3 py-2 text-dark text-decoration-none lang-anchor" [class.active]="language == 'fr'">fr</a>
    </nav>
    <router-outlet></router-outlet>
</body>
