<main>
    <div class="container px-4 py-5" id="featured-3">
        <h1 class="pb-2">FAQ</h1>
        <p class="lead mb-4">
            Lead
        </p>
        <div class="accordion" id="faqAccordion">
            <div *ngFor="let entry of questions; index as i;" class="accordion-item">
                <h2 (click)="toggleAccordion(entry)" class="accordion-header" id="heading{{ i }}">
                    <button class="accordion-button" [class.collapsed]="!entry.show" type="button" aria-expanded="false" aria-controls="collapseTwo">
                        {{ entry.question }}
                    </button>
                </h2>
                <div id="collapse{{ i }}" class="accordion-collapse collapse" [class.show]="entry.show">
                    <div class="accordion-body">
                        {{ entry.answer }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
