<body>

<div class="container py-3">
    <header>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal">Kissquote - Mehr Internet für Erwachsene</h1>
            <p class="fs-5 text-muted">
                Es gibt verschiedene Gründe, weshalb Sie hier gelandet sind.<br>
                Sinn und Zweck dieser bunten Webseiten besteht darin, erwachsene Menschen in Ihren jahrelangen Anstrengungen mit Auswertungen und Analysen zu unterstützen.<br>
                Wir beginnen damit, Kunden von Swissquote einen lächerlich einfachen, anonymen Import ihrer Transaktionen anzubieten.<br>
                Der Programmautor dieser bunten Webseiten denkt, es wird Zeit für mehr Internet für Erwachsene.<br>
            </p>
        </div>
    </header>

    <main>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Aspirant</h4>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title pricing-card-title">Kostenlos</h2>
                        <h2 class="card-title pricing-card-title"> und Anonym</h2>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Sie sind Kunde bei Swissquote?</li>
                            <li>Sie wollen Ihr Konto auswerten lassen?</li>
                            <li>Sie haben Fragen?</li>
                            <li>Sie vermuten, damit nicht allein zu sein?</li>
                        </ul>
                        <button type="button" class="w-100 btn btn-lg btn-outline-primary">Mehr Informationen</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Rookie</h4>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title pricing-card-title">Kostenlos</h2>
                        <h2 class="card-title pricing-card-title">und Anonym</h2>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Sie sind nicht neu hier?</li>
                            <li>Aber Sie sind rückfällig geworden?</li>
                            <li>Sie versuchen es erneut?</li>
                            <li>Ihre Fragen wurden nicht beantwortet?</li>
                        </ul>
                        <button type="button" class="w-100 btn btn-lg btn-outline-primary">Mehr Informationen</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Professional</h4>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title pricing-card-title">Kostenlos</h2>
                        <h2 class="card-title pricing-card-title">und Anonym</h2>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Sie kennen sich aus?</li>
                            <li>Sie wissen was Sie tun?</li>
                            <li>Sie haben einen Key?</li>
                            <li>Sie wollen diese bunte Webseite nie mehr sehen?</li>
                        </ul>
                        <button type="button" class="w-100 btn btn-lg btn-outline-primary">Weg damit!</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>


</body>
