<div class="container py-3">
    <header>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal">
                <img src="assets/kissquote.svg" width="55" tooltip="{{ tranService.trans('GLOB_TITLE') }}">
                {{ tranService.trans('GLOB_TITLE') }}
            </h1>
            <p class="fs-5">
                <a routerLink="/demo">Dies ist der Alpha-Release! Zur Demo geht es hier!</a>
            </p>
            <p class="fs-5 text-muted">
                {{ tranService.trans('LAPA_HEAD1') }}<br>
                Primärer Zweck dieser bunten Webseiten besteht darin, Swissquote-Kunden Auswertungen anzubieten.<br>
                {{ tranService.trans('LAPA_HEAD3') }}<br>
                Ihre Transaktionen können Sie bei Swissquote <a routerLink="/import-explanation">sehr einfach als CSV downloaden</a>.<br>
                Der Programmator ist optimistisch, aus Ihren anonymen Transaktionen ein informatives Portfolio erstellen zu können.<br>
                <a routerLink="/import-alternative">{{ tranService.trans('LAPA_ALTERNATIVE') }}</a><br>
            </p>
        </div>
    </header>

    <main>
        <div class="row row-cols-1 row-cols-md-4 mb-4 text-center">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">{{ tranService.trans('ROOKIE') }}</h4>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title pricing-card-title">{{ tranService.trans('FREEOFCHARGE') }}</h2>
                        <h2 class="card-title pricing-card-title">{{ tranService.trans('ANONYMOUS') }}</h2>
                        <h2 class="card-title pricing-card-title">{{ tranService.trans('INFORMATIVE') }}</h2>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>{{ tranService.trans('LAPA_ROOKIE1') }}</li>
                            <li>{{ tranService.trans('LAPA_ROOKIE2') }}</li>
                            <li>Sie haben Fragen?</li>
                            <li>Vermutlich sind Sie nicht allein?</li>
                        </ul>
                        <button routerLink="/more-info" type="button" class="w-100 btn btn-lg btn-outline-primary">{{ tranService.trans('MOREINFOS') }}</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">{{ tranService.trans('HATER') }}</h4>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title pricing-card-title">{{ tranService.trans('FREEOFCHARGE') }}</h2>
                        <h2 class="card-title pricing-card-title">{{ tranService.trans('ANONYMOUS') }}</h2>
                        <h2 class="card-title pricing-card-title">{{ tranService.trans('INFORMATIVE') }}</h2>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>{{ tranService.trans('LAPA_HATER1') }}</li>
                            <li>{{ tranService.trans('LAPA_HATER2') }}</li>
                            <li>Sie möchten Ihren Hass artikulieren?</li>
                            <li>Sie suchen ein Ventil?</li>
                        </ul>
                        <button routerLink="/feedback" type="button" class="w-100 btn btn-lg btn-outline-primary">Zum Ventil</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">{{ tranService.trans('PRAKTIKANT') }}</h4>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title pricing-card-title">{{ tranService.trans('FREEOFCHARGE') }}</h2>
                        <h2 class="card-title pricing-card-title">{{ tranService.trans('ANONYMOUS') }}</h2>
                        <h2 class="card-title pricing-card-title">{{ tranService.trans('INFORMATIVE') }}</h2>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Sie sind nicht neu hier?</li>
                            <li>Rückfällig geworden?</li>
                            <li>Sie versuchen es erneut?</li>
                            <li>Ihr Hass wurde erhört?</li>
                        </ul>
                        <button routerLink="/import" type="button" class="w-100 btn btn-lg btn-outline-primary">Zum Import</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">{{ tranService.trans('PROFESSIONAL') }}</h4>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title pricing-card-title">{{ tranService.trans('FREEOFCHARGE') }}</h2>
                        <h2 class="card-title pricing-card-title">{{ tranService.trans('ANONYMOUS') }}</h2>
                        <h2 class="card-title pricing-card-title">{{ tranService.trans('INFORMATIVE') }}</h2>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Sie kennen sich aus?</li>
                            <li>Sie haben bereits ein Portfolio?</li>
                            <li>Sie haben Ihren Schlüssel zur Hand?</li>
                            <li>Nie mehr diese bunte Webseite?</li>
                        </ul>
                        <button routerLink="/restore" type="button" class="w-100 btn btn-lg btn-outline-primary">{{ tranService.trans('GLOB_YES') }}</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
