<body>
    <div class="container py-3">
        <header>
            <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
                <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                    <a (click)="changeLanguage('de')" class="me-3 py-2 text-dark text-decoration-none lang-anchor" [class.active]="language == 'de'">de</a>
                    <a (click)="changeLanguage('en')" class="me-3 py-2 text-dark text-decoration-none lang-anchor" [class.active]="language == 'en'">en</a>
                </nav>
            </div>

            <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                <h1 class="display-4 fw-normal">Kissquote</h1>
                <p class="fs-5 text-muted">
                    Es gibt unterschiedliche Gründe, weshalb Sie hier gelandet sind.<br>
                    Primärer Zweck dieser bunten Webseiten besteht darin, Swissquote-Kunden mit Auswertungen und Analysen zu ihren Investitionen zu unterstützen.<br>
                    Wir beginnen damit, Kunden von Swissquote einen einfachen, anonymen Import ihrer Transaktionen anzubieten.<br>
                    Der Programmator ist optimistisch, aus Ihrem anonymen Upload ein informatives Portfolio erstellen zu können.<br>
                    Alternativ können interessierte Benutzer manuell ein Portfolio anlegen und nutzen.<br>
                </p>
            </div>
        </header>

        <main>
            <div class="row row-cols-1 row-cols-md-4 mb-4 text-center">
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">{{ getTranslationByKey('ROOKIE') }}</h4>
                        </div>
                        <div class="card-body">
                            <h2 class="card-title pricing-card-title">{{ getTranslationByKey('FREEOFCHARGE') }}</h2>
                            <h2 class="card-title pricing-card-title">{{ getTranslationByKey('ANONYMOUS') }}</h2>
                            <h2 class="card-title pricing-card-title">{{ getTranslationByKey('INFORMATIVE') }}</h2>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Kunde bei Swissquote?</li>
                                <li>Keine Auswertungen dazu?</li>
                                <li>Sie haben Fragen?</li>
                                <li>Vermutlich sind Sie nicht allein?</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Mehr Informationen</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">{{ getTranslationByKey('PRAKTIKANT') }}</h4>
                        </div>
                        <div class="card-body">
                            <h2 class="card-title pricing-card-title">{{ getTranslationByKey('FREEOFCHARGE') }}</h2>
                            <h2 class="card-title pricing-card-title">{{ getTranslationByKey('ANONYMOUS') }}</h2>
                            <h2 class="card-title pricing-card-title">{{ getTranslationByKey('INFORMATIVE') }}</h2>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Sie sind nicht neu hier?</li>
                                <li>Aber Sie sind rückfällig geworden?</li>
                                <li>Sie versuchen es erneut?</li>
                                <li>Unbeantwortete Fragen?</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Zur Demo</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">{{ getTranslationByKey('HATER') }}</h4>
                        </div>
                        <div class="card-body">
                            <h2 class="card-title pricing-card-title">{{ getTranslationByKey('FREEOFCHARGE') }}</h2>
                            <h2 class="card-title pricing-card-title">{{ getTranslationByKey('ANONYMOUS') }}</h2>
                            <h2 class="card-title pricing-card-title">{{ getTranslationByKey('INFORMATIVE') }}</h2>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Sie sind unzufrieden?</li>
                                <li>Wahrscheinlich ist es Hass?</li>
                                <li>Sie möchten Ihren Hass artikulieren?</li>
                                <li>Sie suchen ein Ventil?</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Zum Ventil</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">{{ getTranslationByKey('PROFESSIONAL') }}</h4>
                        </div>
                        <div class="card-body">
                            <h2 class="card-title pricing-card-title">{{ getTranslationByKey('FREEOFCHARGE') }}</h2>
                            <h2 class="card-title pricing-card-title">{{ getTranslationByKey('ANONYMOUS') }}</h2>
                            <h2 class="card-title pricing-card-title">{{ getTranslationByKey('INFORMATIVE') }}</h2>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Sie kennen sich aus?</li>
                                <li>Sie wissen was Sie tun?</li>
                                <li>Sie haben Ihren Key gespeichert?</li>
                                <li>Nie mehr diese bunte Webseite?</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Ja</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
