<h3 *ngIf="componentTitle">{{ componentTitle }}</h3>
<div class="info-box chart-box">
    <h5>by investment</h5>
    <ng-container *ngIf="diversityByInvestmentChartData">
        <app-pie-chart [data]="diversityByInvestmentChartData" [height]="400" (triggerClick)="listDiversityPositions($event)"></app-pie-chart>
    </ng-container>
</div>
<div class="info-box chart-box">
    <h5>by value</h5>
    <ng-container *ngIf="diversityByValueChartData">
        <app-pie-chart [data]="diversityByValueChartData" [height]="400" (triggerClick)="listDiversityPositions($event)"></app-pie-chart>
    </ng-container>
</div>
<div class="info-box chart-box">
    <h5>by dividend</h5>
    <ng-container *ngIf="diversityByDividendChartData">
        <app-pie-chart [data]="diversityByDividendChartData" [height]="400" (triggerClick)="listDiversityPositions($event)"></app-pie-chart>
    </ng-container>
</div>
<ng-container *ngIf="diversityList && diversityList.length > 0">
    <h5>{{ diversityListTitle }}</h5>
    <app-data-grid
        [gridData]="diversityList"
        [gridColumns]="diversificationColumns"
        [contextMenu]="diversificationContextMenu"
        (baseFunctionCall)="positionEventHandler($event)"
        (selectedItem)="selectPosition($event)"
    ></app-data-grid>
</ng-container>
