<main *ngIf="position">
    <div class="container px-4 py-2">
        <h1 class="pb-2">Position {{ position.getName() }}</h1>
        <tabset [justified]="true">
            <tab heading="Balance">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-2">
                    <h4 class="pt-2">Balance</h4>
                    <div class="btn-toolbar mb-2 mb-md-0">
                    </div>
                </div>
                <div *ngIf="position.balance" class="info-box">
                    <div class="row">
                        <div class="col-9">Anzahl:</div>
                        <div class="col-3"><span class="float-end">{{ position.balance.amount }}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-9">Erster Kurs:</div>
                        <div class="col-3"><span class="float-end">{{ position.balance.firstRate }}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-9">Höchster Kurs:</div>
                        <div class="col-3"><span class="float-end"></span></div>
                    </div>
                    <div class="row">
                        <div class="col-9">Letzter Kurs:</div>
                        <div class="col-3"><span class="float-end"></span></div>
                    </div>
                    <div class="row">
                        <div class="col-9">Bez. Kurs Brutto:</div>
                        <div class="col-3"><span class="float-end">{{ position.balance.averagePayedPriceGross }}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-9">Bez. Kurs Netto:</div>
                        <div class="col-3"><span class="float-end">{{ position.balance.averagePayedPriceNet }}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-9">Investition:</div>
                        <div class="col-3"><span class="float-end">{{ position.balance.investment|number: '1.0' }}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-9">Akt. Wert:</div>
                        <div class="col-3"><span class="float-end"></span></div>
                    </div>
                    <div class="row">
                        <div class="col-9">Bilanz:</div>
                        <div class="col-3"><span class="float-end"></span></div>
                    </div>
                </div>
                <div *ngIf="position.balance" class="info-box">
                    <div class="row">
                        <div class="col-9">Collected Dividends:</div>
                        <div class="col-3"><span class="float-end">{{ position.balance.collectedDividends }}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-9">ROI by Dividends:</div>
                        <div class="col-3"><span class="float-end">{{ position.balance.returnOnInvestentByDividends() }}%</span></div>
                    </div>
                    <div class="row">
                        <div class="col-9">Nächste Auszahlung:</div>
                        <div class="col-3"><span class="float-end">{{ position.balance.projectedNextDividendPayment }}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-9">Rendite on investment:</div>
                        <div class="col-3"><span class="float-end"></span></div>
                    </div>
                </div>
                <div *ngIf="position.balance" class="info-box">
                    <div class="row">
                        <div class="col-9">Total Transaktionsgebühren:</div>
                        <div class="col-3"><span class="float-end">{{ position.balance.transactionFeesTotal }}</span></div>
                    </div>
                </div>
            </tab>
            <tab heading="Transactions">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-2">
                    <h4 class="pt-2">Transactions</h4>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group me-2">
                            <button [routerLink]="'/position/' + position.id + '/transaction-form'" type="button" class="btn btn-sm btn-outline-primary">Add Transaction</button>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Title</th>
                            <th scope="col"><span class="float-end">Quantity</span></th>
                            <th scope="col"><span class="float-end">Rate</span></th>
                            <th scope="col"><span class="float-end">Fee</span></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let transaction of position.transactions">
                            <td>{{ transaction.date|date:'dd.MM.Y' }}</td>
                            <td>{{ transaction.title }}</td>
                            <td><span class="float-end">{{ transaction.quantity }}</span></td>
                            <td><span class="float-end">{{ transaction.rate }}</span></td>
                            <td><span class="float-end">{{ transaction.fee }}</span></td>
                            <td><span class="float-end"><button [routerLink]="'/position/' + position.id + '/transaction-form/' + transaction.id" type="button" class="btn btn-sm btn-outline-primary" tooltip="Bearbeiten"><fa-icon [icon]="editIcon"></fa-icon></button></span></td>
                            <td><span class="float-end"><button (click)="openModal(template, transaction)" type="button" class="btn btn-sm btn-outline-primary" tooltip="Löschen"><fa-icon [icon]="deleteIcon"></fa-icon></button></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </tab>
            <tab heading="Sharehead Infos">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-2">
                    <ng-container *ngIf="shareheadShare">
                        <h4 class="pt-2">Sharehead Infos</h4>
                        <div class="btn-toolbar mb-2 mb-md-0">
                            <div class="btn-toolbar mb-2 mb-md-0">
                                <div class="btn-group me-2">
                                    <a href="{{ shareheadShare.urlWikipedia }}" target="_blank" type="button" class="btn btn-sm btn-outline-primary">Wikipedia</a>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="!shareheadShare">
                        Verbinden Sie Ihre Position mit einem Sharehead-Share
                    </ng-container>
                </div>
            </tab>
        </tabset>
    </div>
</main>

<ng-template #template>
    <div class="modal-body text-center">
        <p>Wollen Sie diese Transaktion wirklich löschen?</p>
        <button type="button" class="btn btn-default" (click)="confirm()">Ja</button>
        <button type="button" class="btn btn-primary" (click)="decline()">Nein</button>
    </div>
</ng-template>
