<main *ngIf="position">
    <div class="container px-4 py-2">
        <h1>Position {{ position.getName() }}</h1>
        <tabset [justified]="true">
            <tab heading="Balance">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-2">
                    <h4 class="pt-2">Balance</h4>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-toolbar mb-2 mb-md-0">
                            <div *ngIf="position.urlSwissquote()" class="btn-group me-2">
                                <a href="{{ position.urlSwissquote() }}" target="_blank" type="button" class="btn btn-sm btn-outline-primary">Swissquote</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <app-bar-chart [data]="chartData"></app-bar-chart>
                    <app-line-chart [data]="lineChartData"></app-line-chart>
                </div>
                <div *ngIf="position.balance" class="info-box">
                    <h5>State</h5>
                    <div class="row">
                        <div class="col-9">Anzahl:</div>
                        <div class="col-3"><span class="float-end">{{ position.balance.amount }}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-9">Start:</div>
                        <div class="col-3"><span class="float-end">{{ position.activeFrom|date:'dd.MM.YY' }}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-9">Currency:</div>
                        <div class="col-3"><span *ngIf="position.currency" class="float-end">{{ position.currency.name }}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-9">ISIN:</div>
                        <div class="col-3"><span *ngIf="position.share" class="float-end">{{ position.share.isin }}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-6">Marketplace:</div>
                        <div class="col-6"><span *ngIf="position.share && position.share.marketplace" class="float-end">{{ position.share.marketplace.getName() }}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-9">Erster Kurs:</div>
                        <div class="col-3"><span class="float-end">{{ position.balance.firstRate }}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-9">Höchster Kurs:</div>
                        <div class="col-3"><span class="float-end"></span></div>
                    </div>
                    <div class="row">
                        <div class="col-9">Letzter Kurs<span *ngIf="position.balance.lastRate"> ({{ position.balance.lastRate.date|date: 'dd.MM.Y' }})</span>:</div>
                        <div class="col-3"><span *ngIf="position.balance.lastRate" class="float-end">{{ position.balance.lastRate.rate }}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-9">Bez. Kurs Brutto:</div>
                        <div class="col-3"><span class="float-end">{{ position.balance.averagePayedPriceGross }}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-9">Bez. Kurs Netto:</div>
                        <div class="col-3"><span class="float-end">{{ position.balance.averagePayedPriceNet }}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-9">Investition:</div>
                        <div class="col-3"><span class="float-end">{{ position.balance.investment|number: '1.0' }}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-9">Akt. Wert:</div>
                        <div class="col-3"><span class="float-end">{{ position.actualValue()|number: '1.0' }}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-9">Bilanz:</div>
                        <div class="col-3"><span class="float-end"></span></div>
                    </div>
                </div>
                <div *ngIf="position.balance" class="info-box">
                    <h5>Dividends</h5>
                    <div class="row">
                        <div class="col-9">Collected Dividends:</div>
                        <div class="col-3"><span class="float-end">{{ position.balance.collectedDividends }}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-9">ROI by Dividends:</div>
                        <div class="col-3"><span class="float-end">{{ position.balance.returnOnInvestentByDividends() }}%</span></div>
                    </div>
                    <div class="row">
                        <div class="col-9">Next Dividend:</div>
                        <div class="col-3"><span class="float-end">{{ position.balance.projectedNextDividendPayment }}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-9">Yield on investment:</div>
                        <div class="col-3"><span class="float-end"></span></div>
                    </div>
                    <div class="row">
                        <div class="col-9">Days since start:</div>
                        <div class="col-3"><span class="float-end"></span></div>
                    </div>
                    <div class="row">
                        <div class="col-9">Profit per day:</div>
                        <div class="col-3"><span class="float-end"></span></div>
                    </div>
                    <h5 style="margin-top: 15px;">Dividend projections</h5>
                    <div class="row">
                        <div class="col-9">2023:</div>
                        <div class="col-3"><span class="float-end"></span></div>
                    </div>
                    <div class="row">
                        <div class="col-9">2024:</div>
                        <div class="col-3"><span class="float-end"></span></div>
                    </div>
                    <div class="row">
                        <div class="col-9">2025:</div>
                        <div class="col-3"><span class="float-end"></span></div>
                    </div>
                </div>
                <div *ngIf="position.balance" class="info-box">
                    <h5>Costs</h5>
                    <div class="row">
                        <div class="col-9">Transaction fees total:</div>
                        <div class="col-3"><span class="float-end">{{ position.balance.transactionFeesTotal }}</span></div>
                    </div>
                </div>
            </tab>
            <tab heading="Sharehead Infos">
                <ng-container *ngIf="shareheadShare">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-2">
                        <h4 class="pt-2">Sharehead Infos</h4>
                        <div class="btn-toolbar mb-2 mb-md-0">
                            <div class="btn-toolbar mb-2 mb-md-0">
                                <div class="btn-group me-2">
                                    <a href="{{ shareheadShare.urlWikipedia }}" target="_blank" type="button" class="btn btn-sm btn-outline-primary">Wikipedia</a>
                                </div>
                                <div class="btn-group me-2">
                                    <a href="{{ shareheadShare.urlFinanznet }}" target="_blank" type="button" class="btn btn-sm btn-outline-primary">finanzen.net</a>
                                </div>
                                <div class="btn-group me-2">
                                    <a href="{{ shareheadShare.urlInvesting }}" target="_blank" type="button" class="btn btn-sm btn-outline-primary">investing.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info-box">
                        <div class="row">
                            <div class="col-9">Last Rate:</div>
                            <div class="col-3"><span class="float-end"></span></div>
                        </div>
                        <div class="row">
                            <div class="col-9">KGV:</div>
                            <div class="col-3"><span class="float-end"></span></div>
                        </div>
                        <div class="row">
                            <div class="col-9">Yield:</div>
                            <div class="col-3"><span class="float-end"></span></div>
                        </div>
                        <div class="row">
                            <div class="col-9">Xtrapoltn (5yrs):</div>
                            <div class="col-3"><span class="float-end"></span></div>
                        </div>
                        <div class="row">
                            <div class="col-9">Avg Divid. Ratio:</div>
                            <div class="col-3"><span class="float-end"></span></div>
                        </div>
                        <div class="row">
                            <div class="col-9">Return on sales:</div>
                            <div class="col-3"><span class="float-end"></span></div>
                        </div>
                        <div class="row">
                            <div class="col-9">Country:</div>
                            <div class="col-3"><span class="float-end">{{ shareheadShare.country }}</span></div>
                        </div>
                        <div class="row">
                            <div class="col-9">Sector:</div>
                            <div class="col-3"><span class="float-end">{{ shareheadShare.sector }}</span></div>
                        </div>
                        <div class="row">
                            <div class="col-9">Market cap:</div>
                            <div class="col-3"><span class="float-end"></span></div>
                        </div>
                        <div class="row">
                            <div class="col-9">Fin. year ends:</div>
                            <div class="col-3"><span class="float-end">{{ shareheadShare.financialYearEndDate|date:'dd.MM.YY' }}</span></div>
                        </div>
                    </div>
                    <div class="info-box">
                        <h5>Analyst Ratings</h5>
                        <div class="row">
                            <div class="col-9">Last Rate:</div>
                            <div class="col-3"><span class="float-end"></span></div>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="!shareheadShare">
                    Verbinden Sie Ihre Position mit einem Sharehead-Share
                </ng-container>
            </tab>
            <tab heading="Transactions">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-2">
                    <h4 class="pt-2">Transactions</h4>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group me-2">
                            <button [routerLink]="'/position/' + position.id + '/transaction-form'" type="button" class="btn btn-sm btn-outline-primary">Add Transaction</button>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Title</th>
                            <th scope="col"><span class="float-end">Quantity</span></th>
                            <th scope="col"><span class="float-end">Rate</span></th>
                            <th scope="col"><span class="float-end">Fee</span></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let transaction of position.transactions">
                            <td>{{ transaction.date|date:'dd.MM.Y' }}</td>
                            <td>{{ transaction.title }}</td>
                            <td><span class="float-end">{{ transaction.quantity }}</span></td>
                            <td><span class="float-end">{{ transaction.rate }}</span></td>
                            <td><span class="float-end">{{ transaction.fee }}</span></td>
                            <td *ngIf="!position.isCash"><span class="float-end"><button [routerLink]="'/position/' + position.id + '/transaction-form/' + transaction.id" type="button" class="btn btn-sm btn-outline-primary" tooltip="Bearbeiten"><fa-icon [icon]="editIcon"></fa-icon></button></span></td>
                            <td *ngIf="position.isCash"><span class="float-end"><button [routerLink]="'/position/' + position.id + '/cash-transaction-form/' + transaction.id" type="button" class="btn btn-sm btn-outline-primary" tooltip="Bearbeiten"><fa-icon [icon]="editIcon"></fa-icon></button></span></td>
                            <td><span class="float-end"><button (click)="openModal(template, transaction)" type="button" class="btn btn-sm btn-outline-primary" tooltip="Löschen"><fa-icon [icon]="deleteIcon"></fa-icon></button></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </tab>
        </tabset>
    </div>
</main>

<ng-template #template>
    <div class="modal-body text-center">
        <p>Wollen Sie diese Transaktion wirklich löschen?</p>
        <button type="button" class="btn btn-default" (click)="confirm()">Ja</button>
        <button type="button" class="btn btn-primary" (click)="decline()">Nein</button>
    </div>
</ng-template>
