tab {
    min-height: 500px;
    background-color: white;
    padding: 15px;
    border-bottom: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
}

h6 {
    margin-top: 15px;
    margin-bottom: 0;
}
