<main *ngIf="position">
    <div class="container px-4 py-2">
        <h1 class="pb-2">Position {{ position.getName() }}</h1>
        <tabset [justified]="true">
            <tab heading="Balance">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-2">
                    <h4 class="pt-2">Balance</h4>
                    <div class="btn-toolbar mb-2 mb-md-0">
                    </div>
                </div>
                <div *ngIf="position.balance" class="info-box">
                    <div class="row">
                        <div class="col-8">Anzahl:</div>
                        <div class="col-4">{{ position.balance.amount }}</div>
                    </div>
                    <div class="row">
                        <div class="col-8">Erster Kurs:</div>
                        <div class="col-4">{{ position.balance.firstRate }}</div>
                    </div>
                    <div class="row">
                        <div class="col-8">Bezahlter Durchschnittskurs:</div>
                        <div class="col-4">{{ position.balance.averageBuyPrice }}</div>
                    </div>
                    <div class="row">
                        <div class="col-8">Investition:</div>
                        <div class="col-4">{{ position.balance.investment }}</div>
                    </div>
                    <div class="row">
                        <div class="col-8">Höchster Kurs:</div>
                        <div class="col-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-8">Akt. Wert:</div>
                        <div class="col-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-8">Bilanz:</div>
                        <div class="col-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-8">ROI on Dividends:</div>
                        <div class="col-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-8">Nächste Auszahlung:</div>
                        <div class="col-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-8">Dividendenrendite on investment:</div>
                        <div class="col-4"></div>
                    </div>
                </div>
            </tab>
            <tab heading="Transactions">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-2">
                    <h4 class="pt-2">Transactions</h4>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group me-2">
                            <button [routerLink]="'/position/' + position.id + '/transaction-form'" type="button" class="btn btn-sm btn-outline-primary">Add Transaction</button>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Title</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Rate</th>
                            <th scope="col">Fee</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let transaction of position.transactions">
                            <td>{{ transaction.date|date:'dd.MM.Y' }}</td>
                            <td>{{ transaction.title }}</td>
                            <td>{{ transaction.quantity }}</td>
                            <td>{{ transaction.rate }}</td>
                            <td>{{ transaction.fee }}</td>
                            <td><button [routerLink]="'/position/' + position.id + '/transaction-form/' + transaction.id" type="button" class="btn btn-sm btn-outline-primary" tooltip="Bearbeiten"><fa-icon [icon]="editIcon"></fa-icon></button></td>
                            <td><button (click)="openModal(template, transaction)" type="button" class="btn btn-sm btn-outline-primary" tooltip="Löschen"><fa-icon [icon]="deleteIcon"></fa-icon></button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </tab>
            <tab heading="Sharehead infos">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-2">
                    <h4 class="pt-2">Sharehead infos</h4>
                    <div class="btn-toolbar mb-2 mb-md-0">
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
</main>

<ng-template #template>
    <div class="modal-body text-center">
        <p>Wollen Sie diese Transaktion wirklich löschen?</p>
        <button type="button" class="btn btn-default" (click)="confirm()">Ja</button>
        <button type="button" class="btn btn-primary" (click)="decline()">Nein</button>
    </div>
</ng-template>
