<div *ngIf="portfolio && portfolio.bankAccounts.length > 0" class="info-container">
    <div class="info-box">
        <h5>Portfolio Totals</h5>
        <div class="row">
            <div class="col-9">{{ tranService.trans('MYDA_ACTUAL_INVESTMENT') }}:</div>
            <div class="col-3"><span class="float-end">{{ portfolio.investmentTotal()|number: '1.0' }}</span></div>
        </div>
        <div class="row">
            <div class="col-9">{{ tranService.trans('MYDA_ACTUAL_VALUE') }}:</div>
            <div class="col-3"><span class="float-end">{{ portfolio.valueTotal()|number: '1.0' }}</span></div>
        </div>
        <div class="row">
            <div class="col-9">{{ tranService.trans('MYDA_BALANCE_OPEN') }}:</div>
            <div class="col-3"><span class="float-end bold">{{ portfolio.openPositionsBalance()|number: '1.0' }}</span></div>
        </div>
        <div class="row">
            <div class="col-9">Performance:</div>
            <div class="col-3"><span class="float-end bold">{{ (100 / portfolio.investmentTotal() * portfolio.openPositionsBalance()).toFixed(1) }}%</span></div>
        </div>
        <div class="row">
            <div class="col-9">Cash:</div>
            <div class="col-3"><span class="float-end">{{ portfolio.cashTotal()|number: '1.0-0' }}</span></div>
        </div>
        <div class="row">
            <div class="col-9">Cash-Ratio:</div>
            <div class="col-3"><span class="float-end bold">{{ portfolio.cashRatio()|number: '1.0-1' }}%</span></div>
        </div>
        <div class="row">
            <div class="col-9">StopLoss Reserve:</div>
            <div class="col-3"><span class="float-end"></span></div>
        </div>
        <div class="row">
            <div class="col-9">{{ tranService.trans('MYDA_BALANCE_CLOSED') }}:</div>
            <div class="col-3"><span class="float-end"></span></div>
        </div>
        <div class="row">
            <div class="col-9">{{ tranService.trans('MYDA_THIS_YRS_DIVIS') }}:</div>
            <div class="col-3"><span class="float-end">{{ portfolio.thisYearsDividendsTotal()|number: '1.0' }}</span></div>
        </div>
        <div class="row">
            <div class="col-9">{{ tranService.trans('MYDA_THIS_YRS_YIELD') }}:</div>
            <div class="col-3"><span class="float-end bold">{{ portfolio.thisYearsDividendsYield()|number: '1.0-1' }}%</span></div>
        </div>
        <div class="row">
            <div class="col-9">{{ tranService.trans('MYDA_DIVI_PROJECTION') }}:</div>
            <div class="col-3"><span class="float-end">{{ portfolio.dividendProjectionsTotal()|number: '1.0' }}</span></div>
        </div>
        <div class="row">
            <div class="col-9">{{ tranService.trans('MYDA_YIELD_PROJECTION') }}:</div>
            <div class="col-3"><span class="float-end bold">{{ portfolio.dividendProjectionsYield()|number: '1.0-1' }}%</span></div>
        </div>
    </div>
    <ng-container *ngIf="portfolio.bankAccounts.length > 1">
        <div class="info-box" *ngFor="let account of portfolio.bankAccounts">
            <h5>{{ account.name }}</h5>
            <div class="row">
                <div class="col-9">{{ tranService.trans('MYDA_ACTUAL_INVESTMENT') }}:</div>
                <div class="col-3"><span class="float-end">{{ account.investmentTotal()|number: '1.0' }}</span></div>
            </div>
            <div class="row">
                <div class="col-9">{{ tranService.trans('MYDA_ACTUAL_VALUE') }}:</div>
                <div class="col-3"><span class="float-end">{{ account.valueTotal()|number: '1.0' }}</span></div>
            </div>
            <div class="row">
                <div class="col-9">{{ tranService.trans('MYDA_BALANCE_OPEN') }}:</div>
                <div class="col-3"><span class="float-end bold">{{ account.openPositionsBalance()|number: '1.0' }}</span></div>
            </div>
            <div class="row">
                <div class="col-9">Performance:</div>
                <div class="col-3"><span class="float-end bold">{{ (100 / account.investmentTotal() * account.openPositionsBalance()).toFixed(1) }}%</span></div>
            </div>
            <div class="row">
                <div class="col-9">Cash:</div>
                <div class="col-3"><span class="float-end">{{ account.cashTotal()|number: '1.0-0' }}</span></div>
            </div>
            <div class="row">
                <div class="col-9">Cash-Ratio:</div>
                <div class="col-3"><span class="float-end bold">{{ account.cashRatio()|number: '1.0-1' }}%</span></div>
            </div>
            <div class="row">
                <div class="col-9">StopLoss Reserve:</div>
                <div class="col-3"><span class="float-end"></span></div>
            </div>
            <div class="row">
                <div class="col-9">{{ tranService.trans('MYDA_BALANCE_CLOSED') }}:</div>
                <div class="col-3"><span class="float-end"></span></div>
            </div>
            <div class="row">
                <div class="col-9">{{ tranService.trans('MYDA_THIS_YRS_DIVIS') }}:</div>
                <div class="col-3"><span class="float-end bold">{{ account.thisYearsDividendsTotal()|number: '1.0' }}</span></div>
            </div>
            <div class="row">
                <div class="col-9">{{ tranService.trans('MYDA_THIS_YRS_YIELD') }}:</div>
                <div class="col-3"><span class="float-end bold">{{ account.thisYearsDividendsYield()|number: '1.0-1' }}%</span></div>
            </div>
            <div class="row">
                <div class="col-9">{{ tranService.trans('MYDA_DIVI_PROJECTION') }}:</div>
                <div class="col-3"><span class="float-end">{{ account.dividendProjectionsTotal()|number: '1.0' }}</span></div>
            </div>
            <div class="row">
                <div class="col-9">{{ tranService.trans('MYDA_YIELD_PROJECTION') }}:</div>
                <div class="col-3"><span class="float-end bold">{{ account.dividendProjectionsYield()|number: '1.0-1' }}%</span></div>
            </div>
        </div>
    </ng-container>

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-2">
        <h4 class="col-6">{{ tranService.trans('GLOB_BALANCES') }}</h4>
        <div class="col-6 text-end">
            <div *ngIf="!timeWarpMode" ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-sm btn-outline-primary source-btn" id="dropdownTimeWarp" ngbDropdownToggle>
                    Time warp
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownTimeWarp">
                    <button (click)="startTimeWarp(3)" ngbDropdownItem>3 months</button>
                    <button (click)="startTimeWarp(6)" ngbDropdownItem>6 months</button>
                    <button (click)="startTimeWarp(9)" ngbDropdownItem>9 months</button>
                    <button (click)="startTimeWarp(12)" ngbDropdownItem>12 months</button>
                </div>
            </div>
            <div *ngIf="timeWarpMode" ngbDropdown class="d-inline-block">
                <button (click)="stopTimeWarp()" type="button" class="btn btn-sm btn-outline-primary active source-btn" id="stopTimeWarp">
                    Stop Time warp mode
                </button>
            </div>
        </div>
    </div>

    <div *ngIf="!timeWarpMode" class="col-12">
        <app-dashboard-balance-charts
            [portfolio]="portfolio"
            [dividendLists]="dividendLists"
            [timeWarpMode]="false"
        ></app-dashboard-balance-charts>
    </div>
    <div *ngIf="timeWarpMode" class="row">
        <div class="col-6">
            <app-dashboard-balance-charts
                [portfolio]="portfolio"
                [dividendLists]="dividendLists"
                [timeWarpMode]="true"
                componentTitle="Today"
            ></app-dashboard-balance-charts>
        </div>
        <div class="col-6">
            <app-dashboard-balance-charts
                [portfolio]="timeWarpedPortfolio"
                [dividendLists]="timeWarpedDividendLists"
                [timeWarpMode]="true"
                [timeWarpDate]="timeWarpDate"
                [componentTitle]="timeWarpTitle"
            ></app-dashboard-balance-charts>
        </div>
    </div>
</div>
