@import '~bootstrap/scss/bootstrap';

body {
  padding-top: 40px;
  background-color: rgba(245, 245, 245, 0.22);
}

h1.centered-header {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

a, a:hover, .nav-link {
  color: #ff6633;
  cursor: pointer;
}

a:hover, .nav-link:hover {
  color: #c9461a;
}

//primary btn
.btn-primary {
  background-color: #ff6633;
  border-color: #ff6633;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: #c9461a;
  border-color: #c9461a;
}

.btn-primary:focus, .btn-primary:active:focus {
  box-shadow: 0 0 0 0.25rem rgb(255 102 51 / 50%);
}

.btn-primary:disabled, .btn-primary.disabled {
  background-color: #c9461a;
  border-color: #c9461a;
}

//outline primary btn
.btn-outline-primary {
  color: #ff6633;
  border-color: #ff6633;
}

.btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:focus {
  background-color: #ff6633;
  border-color: #ff6633;
}

.btn-outline-primary:focus, .btn-outline-primary:active:focus {
  box-shadow: 0 0 0 0.25rem rgb(255 102 51 / 50%);
}

.bg-primary {
  background-color: #ff6633 !important;
}

.icon-as-btn {
  color: #ff6633;
  cursor: pointer;
}

// info-box
.info-box {
  display: inline-block;
  vertical-align: top;
  border: solid 1px #ddd;
  background-color: #F9F9F9;
  width: 350px;
  padding: 8px;
  margin-right: 20px;
  margin-bottom: 20px;
}

@include media-breakpoint-up(sm) {
    .info-box-lg {
        width: 500px;
    }

    .info-box-doubled {
        width: 725px;
    }
}

.green-text {
  color: green;
}

.red-text {
  color: red;
}

.green20 {
  background-color: rgba(144, 238, 144, 0.2) !important;
}

.yellow {
  background-color: rgba(255, 217, 28, 0.5) !important;
}

.bold {
  font-weight: 500;
}
