//@import '~bootstrap/scss/bootstrap';
@import "../node_modules/bootstrap/scss/bootstrap";

body {
  padding-top: 30px;
  background-color: var(--kq-background-color);
  color: var(--kq-main-color);
}

.bg-body {
  background-color: var(--kq-background-color) !important;
}

.table {
    color: var(--kq-main-color);
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
    color: var(--kq-main-color);
}

nav, .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background-color: var(--kq-background-color);
    color: var(--kq-main-color);
}

.modal-content {
    background-color: var(--kq-modal-bg-color);
    color: var(--kq-main-color);
}

.dropdown-menu {
    background-color: var(--kq-dropdown-bg-color);
    color: var(--kq-main-color);
}

.dropdown-item {
    color: var(--kq-main-color);
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    border-bottom-color: var(--kq-background-color);
}

.orange {
    background-color: rgba(255, 102, 51, var(--kq-bg-opacity)) !important;
}

.orange a {
    color: var(--kq-orange-anchor-color);
}

.btn {
    color: var(--kq-main-color);
}

.form-control, .form-select {
    background-color: var(--kq-background-color);
    color: var(--kq-main-color);
}

.custom-tooltip .tooltip-inner {
    background-color: var(--kq-main-color);
    color: var(--kq-background-color);
}
.custom-tooltip.bs-tooltip-end .tooltip-arrow::before {
    border-right-color: var(--kq-main-color);
}
.custom-tooltip.bs-tooltip-start .tooltip-arrow::before {
    border-left-color: var(--kq-main-color);
}
.custom-tooltip.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: var(--kq-main-color);
}
.custom-tooltip.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: var(--kq-main-color);
}

h1.centered-header {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

a, a:hover, .nav-link {
  color: #ff6633;
  cursor: pointer;
}

a:hover, .nav-link:hover {
  color: #c9461a;
}

.btn.active {
    background-color: #c9461a;
    border-color: #c9461a;
}

//primary btn
.btn-primary {
  background-color: #ff6633;
  border-color: #ff6633;
}

.btn-primary:hover, .btn-primary:active {
  background-color: #c9461a;
  border-color: #c9461a;
}

.btn-primary:focus, .btn-primary:active:focus {
  box-shadow: 0 0 0 0.25rem rgb(255 102 51 / 50%);
}

.btn-primary:disabled, .btn-primary.disabled {
  background-color: #c9461a;
  border-color: #c9461a;
}

//outline primary btn
.btn-outline-primary {
  color: #ff6633;
  border-color: #ff6633;
}

.btn-outline-primary:hover, .btn-outline-primary:active {
  background-color: #ff6633 !important;
  border-color: #ff6633 !important;
}

.btn-outline-primary:focus, .btn-outline-primary:active:focus {
  box-shadow: 0 0 0 0.25rem rgb(255 102 51 / 50%);
}

//outline red btn
.btn-outline-red {
  color: red;
  border-color: red;
}

.btn-outline-red:hover, .btn-outline-red:active {
  background-color: red !important;
  border-color: red !important;
}

.btn-routline-red:focus, .btn-routline-red:active:focus {
  box-shadow: 0 0 0 0.25rem rgb(255 0 0 / 50%);
}

//outline green btn
.btn-outline-green {
  color: green;
  border-color: green;
}

.btn-outline-green:hover, .btn-outline-green:active {
  background-color: green !important;
  border-color: green !important;
}

.btn-routline-green:focus, .btn-routline-green:active:focus {
  box-shadow: 0 0 0 0.25rem rgb(0 128 0 / 50%);
}

.bg-primary {
  background-color: #ff6633 !important;
}

.dropdown-item:active {
    color: var(--bs-dropdown-link-active-color);
    text-decoration: none;
    background-color: #ff6633;
}

.btn-tiny {
    padding: 0.15rem 0.25rem;
    font-size: 0.575rem;
    border-radius: 0.2rem;
}

// info-box
.info-box {
  display: inline-block;
  vertical-align: top;
  border: solid 1px #ddd;
  background-color: var(--kq-background-color);
  width: 355px;
  padding: 8px;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: left!important;
}

.chart-box {
    //background-color: rgba(255, 255, 255, var(--kq-bg-opacity));
    background-color: white;
    color: #212529;
}

.info-box-wrapper {
  display: inline-block;
  vertical-align: top;
  width: 365px;
}

.share-chart-wrapper {
  display: inline-block;
  max-width: 800px;
  margin-right: 22px;
}

@include media-breakpoint-up(md) {
    .info-box-lg {
        width: 500px;
    }

    .info-box-doubled {
        width: 729px;
    }
}

@include media-breakpoint-down(md) {
    .info-container {
        width: 100%;
        padding-right: var(--bs-gutter-x, 0.3rem);
        padding-left: var(--bs-gutter-x, 0.3rem);
        margin-right: auto;
        margin-left: auto;
        //text-align: center!important;
    }

    .info-box {
        margin-right: 5px;
        margin-bottom: 10px;
    }

    .share-chart-wrapper {
      max-width: none;
      margin-right: 0;
    }

    .nav-link {
        padding: 0.3rem 0.3rem;
        font-size: 12px;
        text-overflow: clip;
        overflow: hidden;
        white-space: nowrap;
    }

    .nav-tabs-w45 .nav-item {
        max-width: 40px;
    }

    .small-text {
        font-size: 0.6rem;
    }
}

.green-text {
  color: green;
}

.red-text {
  color: #ff0000;
}

.yellow-text {
  color: orange;
}

.grey-text {
  color: silver;
}

.kissquote-text {
  color: #ff6633;
}

.green20 {
    background-color: rgba(144, 238, 144, var(--kq-bg-opacity)) !important;
    td {
        box-shadow: none;
    }
}

.red20 {
    background-color: rgba(256, 0, 0, var(--kq-bg-opacity)) !important;
    td {
        box-shadow: none;
    }
}

.yellow {
  background-color: rgba(255, 217, 28, 0.5) !important;
}

.bold {
  font-weight: 500;
}

.loading {
    background-image: url("assets/loading.gif");
    min-height: 23px;
    min-width: 41px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
}

.badge {
    margin-right: 5px;
}
