@import '~bootstrap/scss/bootstrap';

body {
  padding-top: 40px;
  background-color: rgba(245, 245, 245, 0.22);
}

h1.centered-header {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

a, a:hover, .nav-link {
  color: #ff6633;
  cursor: pointer;
}

a:hover, .nav-link:hover {
  color: #c9461a;
}

//primary btn
.btn-primary {
  background-color: #ff6633;
  border-color: #ff6633;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: #c9461a;
  border-color: #c9461a;
}

.btn-primary:focus, .btn-primary:active:focus {
  box-shadow: 0 0 0 0.25rem rgb(255 102 51 / 50%);
}

.btn-primary:disabled, .btn-primary.disabled {
  background-color: #c9461a;
  border-color: #c9461a;
}

//outline primary btn
.btn-outline-primary {
  color: #ff6633;
  border-color: #ff6633;
}

.btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:focus {
  background-color: #ff6633;
  border-color: #ff6633;
}

.btn-outline-primary:focus, .btn-outline-primary:active:focus {
  box-shadow: 0 0 0 0.25rem rgb(255 102 51 / 50%);
}

.bg-primary {
  background-color: #ff6633 !important;
}

// info-box
.info-box {
  display: inline-block;
  vertical-align: top;
  border: solid 1px #ddd;
  background-color: #F9F9F9;
  width: 355px;
  padding: 8px;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: left!important;
}

.info-box-wrapper {
  display: inline-block;
  vertical-align: top;
  width: 370px;
}

.share-chart-wrapper {
  display: inline-block;
  max-width: 800px;
  margin-right: 22px;
}

@include media-breakpoint-up(md) {
    .info-box-lg {
        width: 500px;
    }

    .info-box-doubled {
        width: 729px;
    }
}

@include media-breakpoint-down(md) {
    .info-container {
        width: 100%;
        padding-right: var(--bs-gutter-x, 0.3rem);
        padding-left: var(--bs-gutter-x, 0.3rem);
        margin-right: auto;
        margin-left: auto;
        text-align: center!important;
    }

    .info-box {
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .share-chart-wrapper {
      max-width: none;
      margin-right: 0;
    }

    .nav-link {
        padding: 0.3rem 0.3rem;
        font-size: 12px;
        text-overflow: clip;
        overflow: hidden;
        white-space: nowrap;
    }

    .nav-tabs-w45 .nav-item {
        max-width: 45px;
    }
}

.green-text {
  color: green;
}

.red-text {
  color: red;
}

.yellow-text {
  color: orange;
}

.green20 {
  background-color: rgba(144, 238, 144, 0.2) !important;
}

.yellow {
  background-color: rgba(255, 217, 28, 0.5) !important;
}

.bold {
  font-weight: 500;
}

.loading {
    background-image: url("assets/loading.gif");
    min-height: 23px;
    min-width: 41px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
}
