<div class="px-4 py-5 my-5 text-center">
    <img src="assets/kissquote.svg" width="65" title="{{ tranService.trans('GLOB_TITLE') }}">
    <h1 class="display-5 fw-bold centered-header">{{ tranService.trans('UPLO_TITLE') }}</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            {{ tranService.trans('UPLO_LEAD') }}
        </p>
        <p class="lead mb-4">
            <a href="/upload-explanation">Sie haben Ihre Transaktionen nicht zur Hand und wissen nicht wie Sie dazu kommen?</a>
        </p>
        <div class="input-group">
            <input type="file" class="form-control" id="inputGroupFile02">
        </div>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-end">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Senden</button>
        </div>
    </div>
</div>
