<div *ngIf="parsedTransactions.length === 0" class="px-4 py-5 my-5 text-center">
    <img src="assets/kissquote.svg" width="65" tooltip="{{ tranService.trans('GLOB_TITLE') }}">
    <h1 class="display-5 fw-bold centered-header">{{ tranService.trans('UPLO_TITLE') }}</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            {{ tranService.trans('UPLO_LEAD') }}
        </p>
        <p class="lead mb-4">
            <a routerLink="/upload-explanation">Sie haben Ihre Transaktionen nicht zur Hand und wissen nicht wie Sie dazu kommen?</a>
        </p>
        <div class="input-group">
            <input type="file" (change)="fileChanged($event)" class="form-control" id="inputGroupFile02">
        </div>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-end">
            <button (click)="onSubmit()" type="button" class="btn btn-primary btn-lg px-4 gap-3">{{ tranService.trans('GLOB_SUBMIT') }}</button>
        </div>
    </div>
</div>
<div *ngIf="parsedTransactions.length > 0" class="px-4 text-center">
    <img src="assets/kissquote.svg" width="65" tooltip="{{ tranService.trans('GLOB_TITLE') }}">
    <p class="lead mb-4 py-4">
        Ihre Datei wurde ausgelesen und wir bitten Sie, das Resultat zu begutachten.<br>
        Wenn Sie der Meinung sind, das Resultat sei gut genug für den Start Ihres Portfolios, können Sie dies bestätigen und wir erstellen damit ein Portfolio für Sie.<br>
        Sie werden immer die Möglichkeit haben, ihr Portfolio zu ändern, zu korrigieren oder zu erweitern.
    </p>
    <button (click)="submitResult()" class="btn btn-lg btn-primary" type="submit">Portfolio erstellen</button>
    <div class="text-start">
        <h6>Transactions found: {{ parsedTransactions.length }}</h6>
        <h6>Resolved transactions: {{ resolvedActions }}</h6>
        <h6>Positions found and created: {{ allPositions.length }}</h6>
        <h6>Unresolved transactions: {{ badTransactions.length }}</h6>
        <h6>Very bad things happend: {{ veryBadThingsHappend }}</h6>

        <h3>Cash positions</h3>
        <app-position-list [positions]="cashPositions" [cash]="true"></app-position-list>
        <h3>Open positions</h3>
        <app-position-list [positions]="openPositions"></app-position-list>
        <h3>Closed positions</h3>
        <app-position-list [positions]="closedPositions"></app-position-list>
    </div>
</div>
